<div class="block-content">
  <div class="ng-star-inserted">

    <div class="surface-section h-30rem bg-no-repeat bg-cover bg-center flex align-items-center"
      style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/images/home/rentacar.jpeg);">

      <div class="rounded-container flex flex-column lg:flex-row lg:align-items-center mx-auto">

        <div class="flex flex-column lg:flex-row lg:align-items-center mx-auto">
          
          <span class="p-input-icon-left mr-3" style="padding-top: 16px;">
            <i 
              class="pi pi-search" style="padding-top: 10px;">
            </i>
            <input #searchInput type="text" pinputtext="" placeholder="City, Airport, Address Or Hotel" 
              class="p-inputtext p-component p-element"
              style="border-radius: 20px; width: 300px;">
          </span>

          <div class="mt-3 lg:mt-0 flex align-items-center flex-column md:flex-row">

            <div class="field">
              <label for="dateInit"><strong>Data de Início:</strong></label>
              <div style="padding-left: 10px;">
                <p-calendar id="dateInit" [(ngModel)]="dateInit" [showIcon]="true" [minDate]="today" [dateFormat]="dateFormat"></p-calendar>
              </div>
            </div>
          
            <div class="field">
              <label for="selectedHourInit"><strong>Hora de Início:</strong></label>
              <div style="padding-left: 10px;">
                <p-dropdown id="selectedHourInit" [options]="hours" [(ngModel)]="selectedHourInit"></p-dropdown>
              </div>
            </div>
          
            <div class="field">
              <label for="dateEnd"><strong>Data de Fim:</strong></label>
              <div style="padding-left: 10px;">
                <p-calendar id="dateEnd" [(ngModel)]="dateEnd" [showIcon]="true" [minDate]="today" [dateFormat]="dateFormat"></p-calendar>
              </div>
            </div>
          
            <div class="field">
              <label for="selectedHourEnd"><strong>Hora de Fim:</strong></label>
              <div style="padding-left: 10px;">
                <p-dropdown id="selectedHourEnd" [options]="hours" [(ngModel)]="selectedHourEnd"></p-dropdown>
              </div>
            </div>
          
            <div style="padding-left: 10px; padding-top: 16px;">
              <p-button icon="pi pi-search" (onClick)="search()"></p-button>
            </div>

          </div>
          
        </div>
      </div>

    </div>
  </div>
</div>