<div class="block-content">
  <div class="surface-section h-30rem bg-no-repeat bg-cover bg-center flex align-items-center"
    style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/images/home/rentacar.jpeg);">

    <div class="rounded-container flex flex-column lg:flex-row lg:align-items-center mx-auto">

      <div class="flex flex-column lg:flex-row lg:align-items-center mx-auto">

        <div class="mt-3 lg:mt-0 flex align-items-center flex-column md:flex-row">

          <div class="field" style="align-items: flex-start;">
            <label for="searchInput"><strong>{{ 'label_where_HomeSearchCars' | translate }}:</strong></label>
            <span class="p-input-icon-left mr-3">
              <i class="pi pi-search">
              </i>
              <input #searchInput type="text" pinputtext="" placeholder="{{ 'search_input_place_placeholder_HomeSearchCars' | translate }}"
                class="p-inputtext p-component p-element" style="border-radius: 20px; width: 300px;">
            </span>
          </div>

          <div class="field" style="align-items: flex-start;">
            <label for="dateInit" style="padding-left: 10px;"><strong>{{ 'label_from_HomeSearchCars' | translate }}:</strong></label>
            <div style="padding-left: 10px;">
              <p-calendar id="dateInit" [(ngModel)]="homeSearchCarsUIDTO.dateInit" [showIcon]="true"
                [minDate]="homeSearchCarsUIDTO.today" [dateFormat]="homeSearchCarsUIDTO.dateFormat"
                (ngModelChange)="loadHoursInit()"></p-calendar>
            </div>
          </div>

          <div class="field">
            <div style="padding-top: 24px; padding-left: 10px;">
              <p-dropdown id="selectedHourInit" [options]="homeSearchCarsUIDTO.hoursInit"
                [(ngModel)]="homeSearchCarsUIDTO.selectedHourInit"></p-dropdown>
            </div>
          </div>

          <div class="field" style="align-items: flex-start;">
            <label for="dateEnd" style="padding-left: 10px;"><strong>{{ 'label_until_HomeSearchCars' | translate }}:</strong></label>
            <div style="padding-left: 10px;">
              <p-calendar id="dateEnd" [(ngModel)]="homeSearchCarsUIDTO.dateEnd" [showIcon]="true"
                [minDate]="homeSearchCarsUIDTO.today" [dateFormat]="homeSearchCarsUIDTO.dateFormat"></p-calendar>
            </div>
          </div>

          <div class="field">
            <div style="padding-top: 24px; padding-left: 10px;">
              <p-dropdown id="selectedHourEnd" [options]="homeSearchCarsUIDTO.hours"
                [(ngModel)]="homeSearchCarsUIDTO.selectedHourEnd"></p-dropdown>
            </div>
          </div>

          <div style=" padding-top: 18px; padding-left: 10px;">
            <p-button icon="pi pi-search" (onClick)="search()"></p-button>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>