<form #customerVehicleRegisterStep6Form="ngForm" (change)="onFormChange(customerVehicleRegisterStep6Form)">

  <h3 id="divH3" class="bg-indigo-500 text-white">{{'title_CustomerVehicleRegisterStep6' | translate}}</h3>

  <div class="p-fluid p-formgrid grid">

    <div class="col-12 md:col-12 field">

      <p-fileUpload #fileUpload
        name="file" 
        [customUpload]="true" 
        (uploadHandler)="uploadHandlerVehiclePhoto($event)" 
        [multiple]="true" 
        accept="image/*" 
        [maxFileSize]="2000000">
        <ng-template pTemplate="content">
          <ul *ngIf="customerVehicleRegisterStep6UIDTO.uploadedFiles != null && customerVehicleRegisterStep6UIDTO.uploadedFiles.length">
            <li *ngFor="let file of customerVehicleRegisterStep6UIDTO.uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>

    </div>

    <div class="col-12 md:col-12 field">
      <div class="card">
        <div *ngIf="customerVehicleRegisterStep6UIDTO.images" class="grid" style="max-width: 100%;">
          <div *ngFor="let image of customerVehicleRegisterStep6UIDTO.images; let index = index" class="col-3" key="index">
            <img 
              [src]="image.thumbnailImageSrc" 
              [alt]="image.alt" 
              style="cursor: pointer; width: 50%;" 
              (click)="imageClick(index)" />
          </div>
        </div>
        <p-galleria
            [value]="customerVehicleRegisterStep6UIDTO.images"
            [(visible)]="customerVehicleRegisterStep6UIDTO.displayCustom"
            [(activeIndex)]="customerVehicleRegisterStep6UIDTO.activeIndex"
            [responsiveOptions]="customerVehicleRegisterStep6UIDTO.responsiveOptions"
            [containerStyle]="{ 'max-width': '100%' }"
            [numVisible]="7"
            [circular]="true"
            [fullScreen]="true"
            [showItemNavigators]="true"
            [showThumbnails]="false">
            <ng-template pTemplate="item" let-item>
              <img 
                [src]="item.itemImageSrc" 
                style="width: 100%; display: block;" />
            </ng-template>
        </p-galleria>
      </div>
    </div>

  </div>

</form>