<div class="lg:px-8 md:px-6 px-4 py-2">
  <div class="surface-card shadow-2 border-round p-4">

    <div class="font-medium text-3xl text-900 mb-3">{{'title_EarningsCustomerWithdrawalRequest' | translate}}</div>
    <div class="text-500 mb-5">{{'subtitle_EarningsCustomerWithdrawalRequest' | translate}}</div>

    <div class="card">

      <p-dataView [value]="earningsCustomerWithdrawalRequestUIDTO.customerWithdrawalRequests"
        [totalRecords]="earningsCustomerWithdrawalRequestUIDTO.totalRecords"
        [sortField]="earningsCustomerWithdrawalRequestUIDTO.sortField"
        [sortOrder]="earningsCustomerWithdrawalRequestUIDTO.sortOrder" [rows]="5" [showCurrentPageReport]="true"
        [paginator]="true"
        currentPageReportTemplate="{{'table_current_page_report_template_showing_Generic' | translate}} {first} {{'table_current_page_report_template_to_Generic' | translate}} {last} {{'table_current_page_report_template_of_Generic' | translate}} {totalRecords} {{'table_current_page_report_template_records_Generic' | translate}}"
        lazy="true" (onLazyLoad)="search($event)">

        <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between">
            <p-dropdown [options]="earningsCustomerWithdrawalRequestUIDTO.sortOptions"
              [(ngModel)]="earningsCustomerWithdrawalRequestUIDTO.sortField"
              placeholder="{{'placeholder_created_date_EarningsCustomerWithdrawalRequest' | translate}}"
              [showClear]="true" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0" />
          </div>
        </ng-template>

      <ng-template pTemplate="list" let-item>

        <div class="grid grid-nogutter">
          <div *ngFor="let item of earningsCustomerWithdrawalRequestUIDTO.customerWithdrawalRequests; let first = first"
            class="col-8">

              <li *ngIf="item?.paymentStatus != null && item?.paymentStatus?.paymentStatusName == 'PAID'"
                class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 mb-3 bg-green-50 border-green-500"
                style="border-radius: 10px;">
                <div>
                  <div>
                    <span
                      class="inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle border-1 border-green-200">
                      <i class="pi pi-file text-green-600"></i>
                    </span>
                    <span class="text-green-700 font-bold ml-2">
                      {{ item.customer.firstName }} {{ item.customer.lastName }}
                    </span>
                  </div>
                  <p class="text-green-700 mt-2 mb-0">{{ 'label_created_date_EarningsCustomerWithdrawalRequest' |
                    translate }}
                    <span class="font-medium">{{ item.createdDate | date:'dd/MM/yyyy hh:mm:ss' }}</span>
                  </p>
                </div>
                <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
                  <span class="bg-green-400 text-green-900 font-bold text-sm py-1 px-2" style="border-radius: 10px;">
                    {{ item.paymentStatus.paymentStatusName }}
                  </span>
                  <div class="text-right ml-3">
                    <span class="text-green-700 font-bold">
                      {{ 'currency_brl_Generic' | translate }}
                      {{ item.customerVehicleBooking.withdrawableBookingValue | number:'1.2-2' }}
                    </span>
                    <p class="mt-1 mb-0 text-green-700">
                      {{ 'currency_brl_description_Generic' | translate }}
                    </p>
                  </div>
                </div>
              </li>

              <li *ngIf="item?.paymentStatus != null && item?.paymentStatus?.paymentStatusName == 'PENDING'"
                class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 mb-3 bg-yellow-50 border-yellow-500"
                style="border-radius: 10px;">
                <div>
                  <div>
                    <span
                      class="inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle border-1 border-yellow-200">
                      <i class="pi pi-file text-yellow-700"></i>
                    </span>
                    <span class="text-yellow-700 font-bold ml-2">
                      {{ item.customer.firstName }} {{ item.customer.lastName }}
                    </span>
                  </div>
                  <p class="text-yellow-700 mt-2 mb-0">{{ 'label_created_date_EarningsCustomerWithdrawalRequest' |
                    translate }}
                    <span class="font-medium">{{ item.createdDate | date:'dd/MM/yyyy hh:mm:ss' }}</span>
                  </p>
                </div>
                <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
                  <span class="bg-yellow-400 text-yellow-900 font-bold text-sm py-1 px-2" style="border-radius: 10px;">
                    {{ item.paymentStatus.paymentStatusName }}
                  </span>
                  <div class="text-right ml-3">
                    <span class="text-yellow-700 font-bold">
                      {{ 'currency_brl_Generic' | translate }}
                      {{ item.customerVehicleBooking.withdrawableBookingValue | number:'1.2-2' }}
                    </span>
                    <p class="mt-1 mb-0 text-yellow-700">
                      {{ 'currency_brl_description_Generic' | translate }}
                    </p>
                  </div>
                </div>
              </li>

              <li *ngIf="item?.paymentStatus != null && item?.paymentStatus?.paymentStatusName == 'UNPAID'"
                class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 mb-3 bg-pink-50 border-pink-500"
                style="border-radius: 10px;">
                <div>
                  <div>
                    <span
                      class="inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle border-1 border-pink-200">
                      <i class="pi pi-file text-pink-500"></i>
                    </span>
                    <span class="text-pink-500 font-bold ml-2">
                      {{ item.customer.firstName }} {{ item.customer.lastName }}
                    </span>
                  </div>
                  <p class="text-pink-500 mt-2 mb-0">{{ 'label_created_date_EarningsCustomerWithdrawalRequest' |
                    translate }}
                    <span class="font-medium">{{ item.createdDate | date:'dd/MM/yyyy hh:mm:ss' }}</span>
                  </p>
                </div>
                <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
                  <span class="bg-pink-400 text-pink-50 font-bold text-sm py-1 px-2" style="border-radius: 10px;">
                    {{ item.paymentStatus.paymentStatusName }}
                  </span>
                  <div class="text-right ml-3">
                    <span class="text-pink-500 font-bold">
                      {{ 'currency_brl_Generic' | translate }}
                      {{ item.customerVehicleBooking.withdrawableBookingValue | number:'1.2-2' }}
                    </span>
                    <p class="mt-1 mb-0 text-pink-500">
                      {{ 'currency_brl_description_Generic' | translate }}
                    </p>
                  </div>
                </div>
              </li>

            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>