<!-- Tela De Pesquisa -->
<div class="md:col-6 mb-2">
  <div class="card no-margin bordered-card">

    <!-- Formulário De Pesquisa -->
    <form #roleSearchForm="ngForm" (ngSubmit)="search($event)">
      <!-- Seção De Pesquisa -->
      <h3>{{'title_RoleSearch' | translate}}</h3>

      <div class="grid p-fluid form-group">

        <!-- Campo Nome -->
        <div class="col-12 md:col-12 field">
          <label class="formTitle">{{'label_role_name_RoleSearch' | translate}}</label>
          <input type="text" pInputText
            placeholder="{{'placeholder_role_name_RoleSearch' | translate}}"
            [(ngModel)]="roleSearchUIDTO.roleDTO.roleName" name="roleName"/>
        </div>

        <div class="col-12 md:col-12 field">
          <div class="card flex justify-content-end">
            <p-selectButton [options]="roleSearchUIDTO.enabledOptions" (onChange)="onChangeEnabled($event)" [(ngModel)]="roleSearchUIDTO.enabledValue" optionLabel="label" optionValue="value"></p-selectButton>
          </div>
        </div>

      </div>

      <div class="col-4 md:col-4 field"></div>
      <div class="col-4 md:col-4 field"></div>

      <div id="div-button" class="grid p-fluid form-group">

        <div class="col-12 flex flex-row justify-content-end py-0">
          <button type="button" class="p-button-outlined p-button-secondary mr-3 md:w-10rem"
            (click)="resetSearchForm()" pButton>
            <span class="p-button-label">
              {{'span_button_label_clean_Generic' | translate}}
            </span>
            <i class="pi pi-eraser"></i>
          </button>

          <button type="submit" class="p-element p-button p-component mr-3 md:w-10rem" pButton>
            <span class="p-button-label">
              {{'span_button_label_search_Generic' | translate}}
            </span>
            <i class="pi pi-search"></i>
          </button>
        </div>
      </div>

      <div class="md:col-12 mb-2"></div>

      <div class="custom-bordered-table">
        <p-table [columns]="roleSearchUIDTO.columns" [value]="roleSearchUIDTO.roles" dataKey="roleId" [style]="{'margin-bottom':'20px'}"
          [responsive]="true" selectionMode="single"
          [resizableColumns]="true" sortField="roleName" [sortOrder]="-1"
          [rows]="10" [showCurrentPageReport]="true" 
          [paginator]="true" [scrollable]="true"
          [totalRecords]="roleSearchUIDTO.totalRecords" [lazy]="true" 
          [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
          (onLazyLoad)="search($event)" 
          (onPage)="paginate($event)" 
          (onRowSelect)="roleRegisterComponent.onRowSelectEdit($event)">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let column of roleSearchUIDTO.columns" [pSortableColumn]="column.sortField" [ngStyle]="{'width': column.width, 'text-align': 'left'}">
                {{column.header}}
                <p-sortIcon *ngIf="column.sortField" [field]="column.sortField"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td class="text-left">
                {{rowData.roleId}}
              </td>
              <td class="text-left">
                {{rowData.roleName}}
              </td>
              <td class="text-left">
                {{rowData.enabled}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8" class="justify-content-left">{{'table_no_records_found_Generic' | translate}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </form>

  </div>
</div>

<!-- Tela De Cadastro/Alterar -->
<div class="md:col-6 mb-2" style="padding-right: 30px;">
  <div class="card no-margin bordered-card">
    <!-- Componente De Cadastro/Alteração De Role -->
    <app-role-register></app-role-register>
  </div>
</div>