<!-- Formulário De Pesquisa -->
<form #paymentStatusSearchForm="ngForm" (ngSubmit)="search($event)">
  <!-- Seção De Pesquisa -->
  <h2 id="divH2" class="bg-indigo-500 text-white">{{'title_PaymentStatusSearch' | translate}}</h2>

  <div class="grid p-fluid form-group">

    <!-- Campo Nome -->
    <div class="col-12 md:col-12 field" [ngClass]="inputSize">
      <label for="paymentStatusName" [ngClass]="labelSize">{{'label_payment_status_name_PaymentStatusSearch' | translate}}</label>
      <input type="text" pInputText
        placeholder="{{'placeholder_payment_status_name_PaymentStatusSearch' | translate}}"
        [(ngModel)]="paymentStatusSearchUIDTO.paymentStatusSearchDTO.paymentStatusName" 
        name="paymentStatusName"/>
    </div>

        <!-- Campo Enabled -->
    <div class="col-12 md:col-12 field">
      <div class="card flex justify-content-end" [ngClass]="inputSize">
        <p-selectButton [options]="paymentStatusSearchUIDTO.enabledOptions" 
          (onChange)="onChangeEnabled($event)" 
          [(ngModel)]="paymentStatusSearchUIDTO.enabledValue" 
          optionLabel="label" 
          optionValue="value"
          name="enabled">
        </p-selectButton>
      </div>
    </div>

  </div>

  <div class="col-4 md:col-4 field"></div>
  <div class="col-4 md:col-4 field"></div>

  <div id="div-button" class="grid p-fluid form-group">

    <div class="col-12 flex flex-row justify-content-end py-0">
      <button type="button" 
        class="p-button-outlined p-button-secondary mr-3 md:w-12rem" [ngClass]="buttonSize"
        (click)="resetSearchForm()" pButton>
        <span class="p-button-label">
          {{'span_button_label_clean_Generic' | translate}}
        </span>
        <i class="pi pi-eraser"></i>
      </button>

      <button type="submit" 
        class="p-element p-button p-component mr-3 md:w-12rem" [ngClass]="buttonSize"
        pButton>
        <span class="p-button-label">
          {{'span_button_label_search_Generic' | translate}}
        </span>
        <i class="pi pi-search"></i>
      </button>
    </div>
  </div>

  <div class="md:col-12 mb-2"></div>

  <div class="custom-bordered-table">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button pButton pRipple 
          label="{{'span_button_label_delete_Generic' | translate}}" 
          icon="pi pi-trash" 
          class="p-button-danger" 
          (click)="deleteSelectedRows()" 
          [disabled]="!paymentStatusSearchUIDTO.selectedPaymentStatus || !paymentStatusSearchUIDTO.selectedPaymentStatus.length">
        </button>
      </ng-template>
    </p-toolbar>

    <p-table [columns]="paymentStatusSearchUIDTO.columns" 
      [value]="paymentStatusSearchUIDTO.paymentStatuses"
      [(selection)]="paymentStatusSearchUIDTO.selectedPaymentStatus"
      dataKey="paymentStatusId" 
      [style]="{'margin-bottom':'20px'}"
      [responsive]="true"
      [resizableColumns]="true" sortField="paymentStatusName" [sortOrder]="-1"
      [rows]="10" [showCurrentPageReport]="true" 
      [paginator]="true" [scrollable]="true"
      [totalRecords]="paymentStatusSearchUIDTO.totalRecords" [lazy]="true" 
      currentPageReportTemplate="{{'table_current_page_report_template_showing_Generic' | translate}} {first} {{'table_current_page_report_template_to_Generic' | translate}} {last} {{'table_current_page_report_template_of_Generic' | translate}} {totalRecords} {{'table_current_page_report_template_records_Generic' | translate}}"
      [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
      (onLazyLoad)="search($event)" 
      (onPage)="paginate($event)">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let column of paymentStatusSearchUIDTO.columns" [pSortableColumn]="column.sortField" [ngStyle]="{'width': column.width, 'text-align': 'left'}">
            {{column.header}}
            <p-sortIcon *ngIf="column.sortField" [field]="column.sortField"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td class="text-left">
            {{rowData.paymentStatusId}}
          </td>
          <td class="text-left">
            {{rowData.paymentStatusName}}
          </td>
          <td class="text-left">
            {{rowData.enabled | boolean}}
          </td>
          <td>
            <button pButton pRipple 
              icon="pi pi-pencil" 
              class="p-button-rounded p-button-success mr-2" 
              type="button" 
              (click)="onRowSelectEdit(rowData)">
            </button>
            <button pButton pRipple 
              icon="pi pi-trash" 
              class="p-button-rounded p-button-warning" 
              type="button" 
              (click)="delete(rowData)">
            </button>
        </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="justify-content-left">{{'table_no_records_found_Generic' | translate}}</td>
        </tr>
      </ng-template>
    </p-table>

    <p-confirmDialog [style]="{ width: '450px' }" />

  </div>
</form>