<div class="lg:px-8 md:px-6 px-4 py-2">
  <div class="surface-card shadow-2 border-round p-4">

    <div class="font-medium text-3xl text-900 mb-3">
      {{'title_EarningsResume' | translate}}
    </div>
    <div class="text-500 mb-5">
      {{'subtitle_EarningsResume' | translate}}
    </div>

    <ul class="list-none p-0 m-0 border-top-1 surface-border">
      <li class="flex align-items-center py-3 px-2 flex-wrap">
        <div class="text-500 w-full md:w-2 font-medium">
          {{'total_earnings_EarningsResume' | translate}}
        </div>
        <div class="text-900 w-full md:w-10">
          {{'currency_brl_Generic' | translate}}
          {{ earningsResumeUIDTO.totalEarnings | number:'1.2-2' }}
        </div>
      </li>
      <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
        <div class="text-500 w-full md:w-2 font-medium">{{'withdrawable_current_balance_EarningsResume' | translate}}
        </div>
        <div class="text-900 w-full md:w-10">
          {{'currency_brl_Generic' | translate}}
          {{ earningsResumeUIDTO.withdrawableCurrentBalance | number:'1.2-2' }}
        </div>
      </li>
      <li class="flex align-items-center py-3 px-2 flex-wrap">
        <div class="text-500 w-full md:w-2 font-medium">{{'withdrawable_balance_EarningsResume' | translate}}</div>
        <div class="text-900 w-full md:w-10">
          {{'currency_brl_Generic' | translate}}
          {{ earningsResumeUIDTO.withdrawableBalance | number:'1.2-2' }}
        </div>
      </li>
    </ul>
    <div class="mt-4">
      <button [disabled]="earningsResumeUIDTO.withdrawableBalance <= 0" pbutton="" pripple="" label="Voltar"
        class="p-button p-component p-button-success" (click)="showDialog()">
        <span class="p-button-icon p-button-icon-left" aria-hidden="true">
          <img src="assets/images/icon/cash-withdrawal.png" alt="Image" width="40px" style="filter: invert(100%);">
        </span>
        <span class="p-button-label">{{'span_button_label_withdraw_money_Generic' | translate}}
        </span>
        <span class="p-ink"></span>
      </button>
    </div>

    <p-dialog class="p-element" [modal]="true" [(visible)]="earningsResumeUIDTO.visibleDialog"
      [style]="{ width: '50rem' }">

      <div class="p-dialog-content">
        <form novalidate="" class="flex flex-column w-full mt-4 ng-untouched ng-pristine">

          <div *ngIf="earningsResumeUIDTO.stepDialog === 1">
            <div class="flex w-full justify-content-between mb-4">
              <span class="w-4rem h-4rem border-circle flex justify-content-center align-items-center bg-blue-100">
                <img src="assets/images/icon/payment-method.png" alt="Image" width="40px">
              </span>
            </div>
            <p class="font-semibold text-xl mt-0 mb-4 text-900">{{'title_payment_method_EarningsResume' | translate}}
            </p>

            <div
              class="flex justify-content-between w-full align-items-center border-1 p-3 border-round surface-border mb-2 cursor-pointer"
              *ngFor="let paymentMethod of earningsResumeUIDTO.paymentMethods">
              <div>
                <div class="flex align-items-center mb-3">

                  <ng-container *ngIf="paymentMethod?.dataURI != null; else noPaymentMethodImage">
                    <img [src]="paymentMethod?.dataURI" alt="Payment Method Image"
                      class="w-3rem border-1 surface-border border-round mr-2">
                  </ng-container>

                  <ng-template #noPaymentMethodImage>
                    <div
                      class="w-3rem h-3rem border-1 surface-border border-round mr-2 flex justify-content-center align-items-center">
                      <span style="color: black; font-weight: bold; font-size: 12px; text-align: center;">
                        {{'span_no_image_Generic' | translate}}
                      </span>
                    </div>
                  </ng-template>

                  <p class="font-medium text-xl mt-0 mb-0 mr-2 text-900">{{paymentMethod.paymentMethodName}}</p>
                </div>
              </div>

              <p-radioButton class="p-element" name="payment" [value]="paymentMethod"
                [(ngModel)]="earningsResumeUIDTO.selectedPaymentMethod" inputId="{{paymentMethod.paymentMethodName}}">
              </p-radioButton>
            </div>
          </div>

          <div *ngIf="earningsResumeUIDTO.stepDialog === 2">
            <div class="flex w-full justify-content-between mb-4">
              <span class="w-4rem h-4rem border-circle flex justify-content-center align-items-center bg-blue-100">
                <img src="assets/images/icon/bank.png" alt="Image" width="40px">
              </span>
            </div>
            <p class="font-semibold text-xl mt-0 mb-4 text-900">{{'title_customer_bank_account_EarningsResume' |
              translate}}</p>

            <div
              class="flex justify-content-between w-full align-items-center border-1 p-3 border-round surface-border mb-2 cursor-pointer"
              *ngFor="let customerVehicleBankAccount of earningsResumeUIDTO.customerVehicleBankAccounts">
              <div>
                <div class="flex align-items-center mb-3">

                  <ng-container *ngIf="customerVehicleBankAccount.bank?.dataURI != null; else noBankImage">
                    <img [src]="customerVehicleBankAccount?.bank?.dataURI" alt="Bank Image"
                      class="w-3rem border-1 surface-border border-round mr-2">
                  </ng-container>

                  <ng-template #noBankImage>
                    <div
                      class="w-3rem h-3rem border-1 surface-border border-round mr-2 flex justify-content-center align-items-center">
                      <span style="color: black; font-weight: bold; font-size: 12px; text-align: center;">
                        {{'span_no_image_Generic' | translate}}
                      </span>
                    </div>
                  </ng-template>

                  <p class="font-medium text-xl mt-0 mb-0 mr-2 text-900">{{customerVehicleBankAccount.bank.bankName}}</p>
                </div>
                <p class="font-medium text-base mt-0 mb-0 text-600">{{customerVehicleBankAccount.pixType}}</p>
                <p class="font-medium text-base mt-0 mb-0 text-600">{{customerVehicleBankAccount.pixKey}}</p>
              </div>

              <p-radioButton class="p-element" name="payment" [value]="customerVehicleBankAccount"
                [(ngModel)]="earningsResumeUIDTO.selectedCustomerVehicleBankAccount" inputId="{{customerVehicleBankAccount.pixKey}}">
              </p-radioButton>

            </div>
          </div>

          <div *ngIf="earningsResumeUIDTO.stepDialog === 3">
            <div class="flex w-full justify-content-between mb-4">
              <span class="w-4rem h-4rem border-circle flex justify-content-center align-items-center bg-blue-100">
                <img src="assets/images/icon/traffic-jam.png" alt="Image" width="40px">
              </span>
            </div>

            <p class="font-semibold text-xl mt-0 mb-4 text-900">
              {{ 'title_customer_vehicle_booking_EarningsResume' | translate }}
            </p>

            <div
              class="flex justify-content-between w-full align-items-center border-1 p-3 border-round surface-border mb-2 cursor-pointer">
              <div>
                <div class="flex align-items-center mb-3">
                  <p class="font-medium text-xl mt-0 mb-0 mr-2 text-900">
                    {{'select_all_customer_vehicle_booking_EarningsResume' | translate}}</p>
                </div>
              </div>
              <p-checkbox class="p-element" [(ngModel)]="earningsResumeUIDTO.selectAllCustomerVehicleBookings"
                (ngModelChange)="ngModelChangeSelectAllCustomerVehicleBookings()"
                name="selectAllCustomerVehicleBookings" [binary]="true">
              </p-checkbox>
            </div>

            <div
              class="flex justify-content-between w-full align-items-center border-1 p-3 border-round surface-border mb-2 cursor-pointer"
              *ngFor="let customerVehicleBooking of earningsResumeUIDTO.customerVehicleBookings">
              <div>
                <div class="flex align-items-center mb-3">
                  <p class="font-medium text-xl mt-0 mb-0 mr-2 text-900">{{customerVehicleBooking.booking}}</p>
                </div>
                <p class="font-medium text-base mt-0 mb-0 text-600">
                  {{customerVehicleBooking.customerVehicle.vehicle.vehicleName}}</p>
              </div>

              <p-checkbox class="p-element" [value]="customerVehicleBooking"
                [(ngModel)]="earningsResumeUIDTO.selectedCustomerVehicleBookings" [ngModelOptions]="{standalone: true}"
                name="{{ customerVehicleBooking.booking }}" inputId="{{ customerVehicleBooking.booking }}"
                (ngModelChange)="ngModelChangeSelectedCustomerVehicleBookings()">
              </p-checkbox>

            </div>
          </div>

        </form>

      </div>
      <div class="p-dialog-footer ng-tns-c36-13" style="">
        <div class="flex -mt-3 justify-content-between align-items-center">

          <button *ngIf="earningsResumeUIDTO.stepDialog === 2 || earningsResumeUIDTO.stepDialog === 3" pbutton=""
            pripple="" icon="pi pi-arrow-circle-left" label="Voltar" class="p-element p-ripple m-0 p-button p-component"
            (click)="previousStepDialog()">
            <span class="p-button-icon p-button-icon-left pi pi-arrow-circle-left" aria-hidden="true">
            </span>
            <span class="p-button-label">{{'span_button_label_to_go_back_Generic' | translate}}
            </span>
            <span class="p-ink"></span>
          </button>

          <button *ngIf="earningsResumeUIDTO.stepDialog === 1 || earningsResumeUIDTO.stepDialog === 2" pbutton=""
            pripple="" icon="pi pi-arrow-circle-right" label="Avançar"
            class="p-element p-ripple m-0 p-button p-component" (click)="nextStepDialog()">
            <span class="p-button-icon p-button-icon-left pi pi-arrow-circle-right" aria-hidden="true">
            </span>
            <span class="p-button-label">{{'span_button_label_go_Generic' | translate}}
            </span>
            <span class="p-ink"></span>
          </button>

          <button *ngIf="earningsResumeUIDTO.stepDialog === 3" pbutton="" pripple="" icon="pi pi-check" label="Save"
            class="p-element p-ripple m-0 p-button p-component" (click)="requestMoney()">
            <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true">
            </span>
            <span class="p-button-label">{{'span_button_label_request_money_Generic' | translate}}
            </span>
            <span class="p-ink"></span>
          </button>

        </div>
      </div>
    </p-dialog>

  </div>
</div>