<div class="block-content">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">

    <div class="flex justify-content-between flex-wrap">
      <div class="flex align-items-center mb-3 md:mb-0">

        <div class="text-900 font-bold text-3xl">
          {{ 'discover_freedom_HomeSearchCarsDetail' | translate }}
        </div>

      </div>

    </div>

    <p class="text-600 text-xl">
      {{ 'find_ideal_car_HomeSearchCarsDetail' | translate }}
    </p>

    <div style="width: 100%; padding-top: 10px;">
      <hr style="border: none; height: 4px; background-color: #6610f2;">
    </div>

    <div class="flex flex-column lg:flex-row lg:align-items-center mx-auto">

      <div class="mt-3 lg:mt-0 flex align-items-center flex-column md:flex-row">

        <div class="field">

          <label for="searchInput" style="padding-top: 18px;">
            <strong>{{ 'where_HomeSearchCarsDetail' | translate }}</strong>
          </label>

          <div class="field">
            <span class="p-input-icon-left mr-3">
              <i class="pi pi-search">
              </i>
              <input #searchInputPlace type="text" pinputtext="" 
                placeholder="{{ 'search_input_place_placeholder_HomeSearchCarsDetail' | translate }}"
                class="p-inputtext p-component p-element" style="border-radius: 20px; width: 800px; font-size: 22px;"
                name="searchInputPlace">
            </span>
          </div>
        </div>

        <div class="field">
          <label for="dateInit" style="padding-left: 10px;">
            <strong>{{ 'from_HomeSearchCarsDetail' | translate }}</strong>
          </label>
          <div style="padding-left: 10px;">
            <p-calendar class="p-inputtext-lg" 
              [(ngModel)]="homeSearchCarsDetailUIDTO.dateInit" 
              name="dateInit"
              [showIcon]="true" 
              [minDate]="homeSearchCarsDetailUIDTO.today"
              [dateFormat]="homeSearchCarsDetailUIDTO.dateFormat">
            </p-calendar>
          </div>
        </div>

        <div class="field">
          <div style="padding-top: 26px; padding-left: 10px;">
            <p-dropdown class="p-inputtext-lg" 
              [options]="homeSearchCarsDetailUIDTO.hours" 
              [(ngModel)]="homeSearchCarsDetailUIDTO.selectedHourInit"
              name="selectedHourInit">
            </p-dropdown>
          </div>
        </div>

        <div class="field">
          <label for="dateEnd" style="padding-left: 10px;">
            <strong>{{ 'to_HomeSearchCarsDetail' | translate }}</strong>
          </label>
          <div style="padding-left: 10px;">
            <p-calendar class="p-inputtext-lg" 
              [(ngModel)]="homeSearchCarsDetailUIDTO.dateEnd" 
              name="dateEnd"
              [showIcon]="true" 
              [minDate]="homeSearchCarsDetailUIDTO.today"
              [dateFormat]="homeSearchCarsDetailUIDTO.dateFormat">
            </p-calendar>
          </div>
        </div>

        <div class="field">
          <div style="padding-top: 26px; padding-left: 10px;">
            <p-dropdown class="p-inputtext-lg" 
              [options]="homeSearchCarsDetailUIDTO.hours" 
              [(ngModel)]="homeSearchCarsDetailUIDTO.selectedHourEnd"
              name="selectedHourEnd">
            </p-dropdown>
          </div>
        </div>

      </div>

    </div>

    <div class="grid grid-nogutter align-items-center">

      <div>
        <p-dropdown class="p-inputtext-lg" 
          [options]="homeSearchCarsDetailUIDTO.vehicleBrands" 
          [(ngModel)]="homeSearchCarsDetailUIDTO.selectedVehicleBrand" 
          optionLabel="vehicleBrandName" 
          name="vehicleBrand" 
          [showClear]="true"
          [filter]="true"
          filterBy="vehicleBrandName"
          placeholder="{{'placeholder_vehicle_brand_HomeSearchCarsDetail' | translate}}" 
          (onChange)="onChangeVehicleBrand($event.value)">

          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="homeSearchCarsDetailUIDTO.selectedVehicleBrand">
              <img [src]="homeSearchCarsDetailUIDTO.selectedVehicleBrand.dataURI" style="width: 18px"/>
              <div>{{ homeSearchCarsDetailUIDTO.selectedVehicleBrand.vehicleBrandName }}</div>
            </div>
          </ng-template>
          <ng-template let-vehicleBrand pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img [src]="vehicleBrand.dataURI" style="width: 18px"/>
              <div>{{ vehicleBrand.vehicleBrandName }}</div>
            </div>
          </ng-template>

        </p-dropdown>
      </div>

      <div style="padding-left: 10px;">
        <p-dropdown class="p-inputtext-lg" 
          [options]="homeSearchCarsDetailUIDTO.vehicles" 
          [(ngModel)]="homeSearchCarsDetailUIDTO.selectedVehicle" 
          optionLabel="vehicleName" 
          name="vehicle" 
          [showClear]="true"
          [filter]="true"
          filterBy="vehicleName"
          placeholder="{{'placeholder_vehicle_HomeSearchCarsDetail' | translate}}" (onChange)="onChangeVehicle($event.value)">
        </p-dropdown>
      </div>

      <div style="padding-left: 10px;">
        <p-dropdown class="p-inputtext-lg" 
          [options]="homeSearchCarsDetailUIDTO.vehicleModels" 
          [(ngModel)]="homeSearchCarsDetailUIDTO.selectedVehicleModel" 
          optionLabel="vehicleModelName" 
          name="vehicleModel" 
          [showClear]="true"
          [filter]="true"
          filterBy="vehicleModelName"
          placeholder="{{'placeholder_vehicle_model_HomeSearchCarsDetail' | translate}}">
        </p-dropdown>
      </div>

      <div style="padding-left: 10px;">
        <p-dropdown class="p-inputtext-lg" 
          [options]="homeSearchCarsDetailUIDTO.vehicleCategorys" 
          [(ngModel)]="homeSearchCarsDetailUIDTO.selectedVehicleCategory" 
          optionLabel="vehicleCategoryName" 
          name="vehicleCategory" 
          [showClear]="true"
          [filter]="true"
          filterBy="vehicleCategoryName"
          placeholder="{{'placeholder_vehicle_category_HomeSearchCarsDetail' | translate}}">
        </p-dropdown>
      </div>

      <div style="padding-left: 10px;">
        <p-button icon="pi pi-search" (onClick)="search(null)"></p-button>
      </div>

    </div>

    <div style="width: 100%; padding-top: 30px;">
      <hr style="border: none; height: 4px; background-color: #6610f2;">
    </div>

  </div>
</div>

<div class="flex">
  <!-- Lado esquerdo: DataView -->
  <div class="lg:w-2/3 md:w-2/3 w-full">
    <div class="block-content">
      <div class="lg:px-12 md:px-12 px-4 py-8 surface-ground">
        <section class="grid">

          <div
            *ngIf="homeSearchCarsDetailUIDTO.customerVehicles != null && homeSearchCarsDetailUIDTO.customerVehicles.length == 1">
            <div class="text-900 font-bold text-3xl" style="padding-left: 10px; padding-bottom: 10px;">
              {{homeSearchCarsDetailUIDTO.customerVehicles.length}} 
              {{'car_available_HomeSearchCarsDetail' | translate}}
            </div>
            <div class="text-900 font-normal text-1xl" style="padding-left: 10px; padding-bottom: 10px;">
              {{'this_car_can_be_picked_up_HomeSearchCarsDetail' | translate}}
            </div>
          </div>

          <div
            *ngIf="homeSearchCarsDetailUIDTO.customerVehicles != null && homeSearchCarsDetailUIDTO.customerVehicles.length > 1">
            <div class="text-900 font-bold text-3xl" style="padding-left: 10px; padding-bottom: 10px;">
              {{homeSearchCarsDetailUIDTO.customerVehicles.length}} 
              {{'cars_available_HomeSearchCarsDetail' | translate}}
            </div>
            <div class="text-900 font-normal text-1xl" style="padding-left: 10px; padding-bottom: 10px;">
              {{'these_cars_can_be_picked_up_HomeSearchCarsDetail' | translate}}
            </div>
          </div>

          <div class="col-12 xl:col-12">
            
            <p-dataView [value]="homeSearchCarsDetailUIDTO.customerVehicles"
              [sortField]="homeSearchCarsDetailUIDTO.sortField" 
              [sortOrder]="homeSearchCarsDetailUIDTO.sortOrder"
              [rows]="5" 
              [showCurrentPageReport]="true" 
              [paginator]="true"
              [totalRecords]="homeSearchCarsDetailUIDTO.totalRecords" 
              (onLazyLoad)="search($event)">

              <ng-template let-item pTemplate="listItem">

                <article
                  class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card elemento-sobreposicao"
                  (mouseover)="exibirMapa(item)" 
                  (mouseout)="desibirMapa(item)"
                  (click)="clickCustomerVehicle(item)">

                  <div class="relative">
                    <img [src]="item.dataURI" alt="Customer Vehicle Image"
                      class="border-round w-full h-full md:w-24rem md:h-14rem">
                    <p *ngIf="item.unlimitedMileage"
                      class="absolute px-2 py-1 border-round-lg text-sm font-normal text-black mt-0 mb-0"
                      style="background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(10px); top: 3%; left: 3%; color: green;">
                      {{'unlimited_mileage_HomeSearchCarsDetail' | translate}}
                    </p>
                    <p *ngIf="item.limitedMileage"
                      class="absolute px-2 py-1 border-round-lg text-sm font-normal text-black mt-0 mb-0"
                      style="background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(10px); top: 3%; left: 3%; color: red;">
                      {{'limited_mileage_HomeSearchCarsDetail' | translate}}
                    </p>

                    <img [src]="item.vehicle.vehicleBrand.dataURI" alt="Vehicle Brand Image"
                      class="absolute border-round-lg mt-0 mb-0 px-2 py-1 md:w-5rem md:h-4rem" style="left: 80%;">
                      
                  </div>

                  <div class="flex flex-column w-full gap-3">
                    <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">

                      <p class="font-semibold text-2xl mt-0 mb-0">
                        {{item.vehicle.vehicleName + ' ' + item.yearOfTheCar}}
                      </p>

                      <div class="col-12 lg:col-4 flex align-items-start justify-content-center py-5 lg:py-0">
                        <div class="mt-3 text-center">
                          <ng-container *ngIf="item.averageRating != null">
                            <i *ngFor="let star of [1, 2, 3, 4, 5]" class="pi text-1xl mr-1" [ngClass]="{
                              'pi-star-fill text-yellow-500': star <= item.averageRating,
                              'pi-star text-300': star > item.averageRating
                            }"></i>
                          </ng-container>
                          <ng-container *ngIf="item.averageRating === null">
                            <i *ngFor="let star of [1, 2, 3, 4, 5]" class="pi pi-star text-300 mr-1"></i>
                          </ng-container>
                        </div>
                      </div>

                    </div>

                    <div class="font-normal text-sm mt-0 mb-0" style="display: flex; align-items: center;">
                      <img [src]="item.vehicleModel.vehicleCategory.dataURI" alt="Icon Vehicle Category"
                          class="border-round w-full h-full md:w-2rem md:h-2rem">
                      <p style="margin: 0;">
                        {{'vehicle_model_HomeSearchCarsDetail' | translate}} 
                        {{item.vehicleModel.vehicleModelName}}
                      </p>
                    </div>

                    <div class="font-normal text-sm mt-0 mb-0" style="display: flex; align-items: center;">
                      <div style="display: flex; align-items: center;">
                        <img [src]="item.vehicleFuelType.dataURI" alt="Icon Vehicle Fuel Type"
                          class="border-round w-full h-full md:w-2rem md:h-2rem">
                        <p style="margin: 0; margin-left: 5px;">
                          {{'vehicle_fuel_type_HomeSearchCarsDetail' | translate}} 
                          {{item.vehicleFuelType.vehicleFuelTypeName }}
                        </p>
                      </div>
                      <div style="margin-left: auto; display: flex; align-items: center;">
                        <img [src]="item.vehicleTransmission.dataURI" alt="Icon Vehicle Transmission"
                            class="border-round w-full h-full md:w-2rem md:h-2rem">
                        <p style="margin: 0; margin-left: 5px;">
                          {{'vehicle_transmission_HomeSearchCarsDetail' | translate}} 
                          {{item.vehicleTransmission.vehicleTransmissionName }}
                        </p>
                      </div>
                    </div>

                    <div class="text-right xl:h-2rem mt-auto">
                      <p class="text-base text-900 mt-0 mb-1">
                        <span class="font-medium">
                          {{ 'currency_brl_Generic' | translate }} {{(item.dailyRate | number:'1.2-2')}} / {{ 'day_HomeSearchCarsDetail' | translate }}
                        </span>
                      </p>
                      <p class="text-sm text-700 mt-0 mb-1">
                        <span class="font-medium" style="text-decoration: underline;">
                          {{ 'currency_brl_Generic' | translate }} {{(item.dailyRate | number:'1.2-2')}} / {{ 'excluding_taxes_and_fees_HomeSearchCarsDetail' | translate }}
                        </span>
                      </p>
                    </div>

                    <div class="flex flex-wrap justify-content-between xl:h-2rem mt-auto">
                      <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                        <i class="pi pi-map mr-2" style="color: red;"></i>
                        <span class="font-medium">{{item.distance}}</span>
                      </p>
                    </div>

                  </div>
                </article>

              </ng-template>
            </p-dataView>
          </div>

          <div class="col-12 xl:col-12 flex justify-center items-center"
            *ngIf="homeSearchCarsDetailUIDTO.customerVehicles == null || homeSearchCarsDetailUIDTO.customerVehicles.length == 0">
            <article class="w-full gap-3 p-3 border-round border-1 surface-border surface-card">
              <div class="text-center">
                <p class="font-semibold text-3xl mt-0 mb-2">
                  {{ 'no_cars_found_title_HomeSearchCarsDetail' | translate }}
                </p>
              </div>
              <div class="text-center">
                <p class="text-base text-900 mt-0 mb-1">
                  {{ 'no_cars_found_message_HomeSearchCarsDetail' | translate }}
                </p>
              </div>
            </article>
          </div>

        </section>
      </div>
    </div>
  </div>

  <!-- Lado direito: Mapa -->
  <div class="lg:w-1/3 md:w-1/3 w-full">
    <div style="height: 100%; position: relative;">
      <div id="map" #map class="google-map" style="height: 100%;"></div>
    </div>
  </div>
</div>