<!-- Formulário De Conteúdo -->
<form novalidate #userProfileContentForm="ngForm" (ngSubmit)="ngSubmit()">
  <h2 id="divH2" class="bg-indigo-500 text-white">{{'title_UserProfileContent' | translate}}</h2>

  <div class="p-fluid p-formgrid grid">

    <div class="col-12 md:col-6 field" [ngClass]="inputSize">
      <label for="userId" [ngClass]="labelSize">{{'label_user_id_UserProfileContent' | translate}}</label>
      <input id="userId" type="text" pInputText placeholder="{{'placeholder_user_id_UserProfileContent' | translate}}"
        [(ngModel)]="userProfileContentUIDTO.userDTO.userId" name="userId" autocomplete="off" disabled />
    </div>

    <div class="col-12 md:col-6 field" [ngClass]="inputSize">
      <label for="providerUserId" [ngClass]="labelSize">{{'label_provider_user_id_UserProfileContent' |
        translate}}</label>
      <input id="providerUserId" type="text" pInputText
        placeholder="{{'placeholder_provider_user_id_UserProfileContent' | translate}}"
        [(ngModel)]="userProfileContentUIDTO.userDTO.providerUserId" name="providerUserId" autocomplete="off"
        disabled />
    </div>

    <div class="col-12 md:col-6 field" [ngClass]="inputSize">
      <label for="email" [ngClass]="labelSize">{{'label_email_UserProfileContent' | translate}}</label>
      <input id="email" type="text" pInputText placeholder="{{'placeholder_email_UserProfileContent' | translate}}"
        [(ngModel)]="userProfileContentUIDTO.userDTO.email" name="email" autocomplete="off" required />
    </div>

    <div class="col-12 md:col-6 field" [ngClass]="inputSize">
      <label for="displayName" [ngClass]="labelSize">{{'label_display_name_UserProfileContent' | translate}}</label>
      <input id="displayName" type="text" pInputText
        placeholder="{{'placeholder_display_name_UserProfileContent' | translate}}"
        [(ngModel)]="userProfileContentUIDTO.userDTO.displayName" name="displayName" autocomplete="off" required />
    </div>

    <div class="col-12 md:col-6 field" [ngClass]="inputSize">
      <label for="provider" [ngClass]="labelSize">{{'label_provider_UserProfileContent' | translate}}</label>
      <input id="provider" type="text" pInputText
        placeholder="{{'placeholder_provider_UserProfileContent' | translate}}"
        [(ngModel)]="userProfileContentUIDTO.userDTO.provider" name="provider" autocomplete="off" disabled />
    </div>

    <div class="col-12 md:col-6 field" [ngClass]="inputSize">
      <label for="createdDate" [ngClass]="labelSize">{{'label_created_date_UserProfileContent' | translate}}</label>
      <p-calendar [(ngModel)]="userProfileContentUIDTO.userDTO.createdDate"
        placeholder="{{'placeholder_created_date_UserProfileContent' | translate}}" name="createdDate" [showTime]="true"
        [showSeconds]="true" dateFormat="dd/mm/yy" [disabled]="true"></p-calendar>
    </div>

    <div class="col-12 md:col-6 field" [ngClass]="inputSize">
      <label for="modifiedDate" [ngClass]="labelSize">{{'label_modified_date_UserProfileContent' | translate}}</label>
      <p-calendar placeholder="{{'placeholder_modified_date_UserProfileContent' | translate}}"
        [(ngModel)]="userProfileContentUIDTO.userDTO.modifiedDate" name="modifiedDate" [showTime]="true"
        [showSeconds]="true" dateFormat="dd/mm/yy" [disabled]="true"></p-calendar>
    </div>

    <div class="col-12 md:col-6 field" [ngClass]="inputSize" style="display: flex; flex-direction: column;">
      <label for="enabled" [ngClass]="labelSize">{{'label_enabled_UserProfileContent' | translate}}</label>
      <p-inputSwitch [(ngModel)]="userProfileContentUIDTO.userDTO.enabled" name="enabled" [disabled]="true" >
      </p-inputSwitch>
      <small id="enabled">{{'small_enabled_Generic' | translate}}</small>
    </div>

    <div class="col-12 md:col-6 field" [ngClass]="inputSize" style="text-align: center;">

      <div class="pb-4">
        <label [ngClass]="labelSize">{{'label_avatar_UserProfileContent' | translate}}</label>
      </div>
    
      <ng-container *ngIf="userProfileContentUIDTO.userDTO != null && 
                            userProfileContentUIDTO.userDTO.file != null; else showDefaultImage">
        <img class="mr-3 lg:mr-0" [src]="userProfileContentUIDTO.userDTO.file.dataURI"
          style="width: 140px; height: 140px; border-radius: 50%;">
      </ng-container>

      <ng-template #showDefaultImage>
        <img *ngIf="userProfileContentUIDTO.userDTO != null && 
                    userProfileContentUIDTO.userDTO.file == null &&
                    userProfileContentUIDTO.userDTO.imageURL != null; else showNoImage" class="mr-3 lg:mr-0"
          [src]="userProfileContentUIDTO.userDTO.imageURL" style="width: 62px; height: 62px; border-radius: 50%;">
      </ng-template>

      <ng-template #showNoImage>
        <div
          *ngIf="userProfileContentUIDTO.userDTO != null && userProfileContentUIDTO.userDTO.file == null && userProfileContentUIDTO.userDTO.imageURL == null;"
          class="mr-3 lg:mr-0"
          style="width: 140px; height: 140px; border-radius: 50%; background-color: white; position: relative;">
          <span
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: black; font-weight: bold; font-size: 12px; text-align: center;">
            {{'span_no_image_Home'| translate}}
          </span>
        </div>
      </ng-template>
      
    </div>

    <div class="col-12 md:col-6 field" [ngClass]="inputSize">

      <p-fileUpload #fileUpload name="file" [customUpload]="true"
        (uploadHandler)="uploadHandlerFile($event)" [multiple]="false" accept="image/*"
        [maxFileSize]="2000000">
        <ng-template pTemplate="content">
          <ul *ngIf="userProfileContentUIDTO.uploadedFiles != null && userProfileContentUIDTO.uploadedFiles.length">
            <li *ngFor="let file of userProfileContentUIDTO.uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>

    </div>

    <div class="col-12 flex flex-row justify-content-left py-0">

      <div *ngIf="userProfileContentUIDTO?.userDTO?.userId != null" class="md:col-3 mt-4 pt-1 field">
        <button pButton pRipple class="p-button-rounded p-button-info md:w-10rem" type="submit"
          [disabled]="userProfileContentForm.invalid">
          <i class="pi pi-file-edit"></i>
          <span class="p-button-label">
            {{'span_button_label_update_Generic' | translate}}
          </span>
        </button>
      </div>

    </div>

  </div>
</form>