<form novalidate #addressRegisterDynamicDialogForm="ngForm" (ngSubmit)="finalizeBooking()">

  <h3 id="divH3" class="bg-indigo-500 text-white">{{'title_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</h3>

  <div class="p-fluid p-formgrid grid">

    <div class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_booking_start_date_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <label class="font-medium text-2xl">
        {{ customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.bookingStartDate | date:'dd/MM/yyyy' }}
      </label>
    </div>

    <div class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_booking_end_date_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <label class="font-medium text-2xl">
        {{ customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.bookingEndDate | date:'dd/MM/yyyy' }}
      </label>
    </div>

    <div class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_booking_start_time_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <label class="font-medium text-2xl">
        {{ customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.bookingStartTime }}
      </label>
    </div>

    <div class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_booking_end_time_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <label class="font-medium text-2xl">
        {{ customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.bookingEndTime }}
      </label>
    </div>

    <div class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_daily_rate_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <label class="font-medium text-2xl">
        {{'currency_Generic' | translate}}
        {{ decimalPipe.formatR$(customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.dailyRate) }}
      </label>
    </div>

    <div class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_total_booking_value_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <label class="font-medium text-2xl">
        {{'currency_Generic' | translate}}
        {{ decimalPipe.formatR$(customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.totalBookingValue) }}
      </label>
    </div>

    <div *ngIf="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.unlimitedMileage == true" class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_unlimited_mileage_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
    </div>

    <div *ngIf="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.limitedMileage == true" class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_limited_mileage_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
    </div>

    <div *ngIf="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.limitedMileageIncluded != null" class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_limited_mileage_included_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <label class="font-medium text-2xl">
        {{customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.limitedMileageIncluded}}
      </label>
    </div>

    <div *ngIf="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.limitedMileage == true" class="col-6 md:col-6 field">
      <label class="font-medium text-2xl">{{'label_limited_mileage_value_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <label class="font-medium text-2xl">
        {{'currency_Generic' | translate}}
        {{ decimalPipe.formatR$(customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.limitedMileageValue) }}
      </label>
    </div>

    <div class="col-6 md:col-6 field"></div>

    <div *ngIf="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.limitedMileage == true" class="col-6 md:col-6 field">
      <label for="bookingStartKM" class="font-medium text-2xl">{{'label_booking_start_km_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <input pInputText type="text" class="p-inputtext-lg"
        placeholder="{{'placeholder_booking_start_km_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}"
        [(ngModel)]="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.bookingStartKM" name="bookingStartKM" disabled="true" />
    </div>

    <div *ngIf="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.limitedMileage == true" class="col-6 md:col-6 field">
      <label for="bookingEndKM" class="font-medium text-2xl">{{'label_booking_end_km_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <input pInputText type="text" class="p-inputtext-lg"
        placeholder="{{'placeholder_booking_end_km_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}"
        [(ngModel)]="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.bookingEndKM" name="bookingEndKM" required="true" 
        (change)="changeBookingEndKM()"/>
    </div>

    <div *ngIf="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.limitedMileage == true" class="col-6 md:col-6 field">
      <label for="limitedMileageTotalKM" class="font-medium text-2xl">{{'label_limited_mileage_total_km_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <input pInputText type="text" class="p-inputtext-lg"
        placeholder="{{'placeholder_limited_mileage_total_km_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}"
        [(ngModel)]="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.limitedMileageTotalKM" name="limitedMileageTotalKM" disabled="true" />
    </div>

    <div *ngIf="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.customerVehicleBooking.customerVehicle.limitedMileage == true" class="col-6 md:col-6 field">
      <label for="limitedMileageTotalValue" class="font-medium text-2xl">{{'label_limited_mileage_total_value_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}</label>
      <input pInputText type="text" class="p-inputtext-lg"
        placeholder="{{'placeholder_limited_mileage_total_value_CustomerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialog' | translate}}"
        [(ngModel)]="customerVehicleBookingCustomerVehicleFinalizeBookingDynamicDialogUIDTO.limitedMileageTotalValue" name="limitedMileageTotalValue" disabled="true" />
    </div>

  </div>

  <div class="col-12 flex flex-row justify-content-left py-0">

    <div class="md:col-3 mt-4 pt-1 field">
      <button pButton class="p-ripple p-element w-auto p-button p-component md:w-14rem"
        type="submit">
        <i class="pi pi-check-circle"></i>
        <span class="p-button-label">
          {{'span_button_label_finalize_booking_Generic' | translate}}
        </span>
      </button>
    </div>

  </div>

</form>