<p-galleria [value]="customerVehicleDetailUIDTO.customerVehicleFilePhotos" 
  [showItemNavigators]="true" 
  [circular]="true"
  [numVisible]="5" 
  [containerStyle]="{ 'max-width': '100%', 'margin': '0 auto' }">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.dataURI" style="width: 100%; display: block;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.dataURI" style="display: block; max-width: 80px; height: auto;" />
    </div>
  </ng-template>
</p-galleria>

<div class="grid nested-grid" style="padding-top: 10px;">
  <div class="col-8">
    <div class="grid">
      <div class="col-12">

        <div *ngIf="customerVehicleDetailUIDTO.customerVehicle" class="text-center p-3 border-round-sm font-bold"
          style="font-size: 40px;">
          {{customerVehicleDetailUIDTO.customerVehicle.vehicle.vehicleBrand.vehicleBrandName + ' ' +
          customerVehicleDetailUIDTO.customerVehicle.vehicle.vehicleName + ' ' +
          customerVehicleDetailUIDTO.customerVehicle.yearOfTheCar}}
        </div>

        <div *ngIf="customerVehicleDetailUIDTO.customerVehicle" class="text-center p-3 border-round-sm"
          style="margin-top: -20px;">
          {{customerVehicleDetailUIDTO.customerVehicle.vehicleModel.vehicleModelName}}
        </div>

        <div *ngIf="customerVehicleDetailUIDTO?.customerVehicle?.customer?.user != null" class="surface-section px-4 py-4 md:px-6 lg:px-8">
          <label><strong>{{ 'label_hosted_by_CustomerVehicleDetail' | translate }}</strong></label>
          <div class="flex items-center" style="padding-top: 10px;">
            <div class="mr-3">

              <ng-container
                *ngIf="customerVehicleDetailUIDTO.customerVehicle.customer.user.dataURI != null && customerVehicleDetailUIDTO.customerVehicle.customer.user.dataURI != null; else showDefaultImage">
                <img [src]="customerVehicleDetailUIDTO.customerVehicle.customer.user.dataURI.dataURI" 
                  alt="User Image"
                  class="mr-3 lg:mr-0"
                  style="width: 120px; height: 120px; border-radius: 50%;">
              </ng-container>

              <ng-template #showDefaultImage>
                <img
                  *ngIf="customerVehicleDetailUIDTO.customerVehicle.customer.user != null && customerVehicleDetailUIDTO.customerVehicle.customer.user.dataURI == null && customerVehicleDetailUIDTO.customerVehicle.customer.user.imageURL != null; else showNoImage"
                  [src]="customerVehicleDetailUIDTO.customerVehicle.customer.user.imageURL" 
                  alt="User Image"
                  class="mr-3 lg:mr-0"
                  style="width: 120px; height: 120px; border-radius: 50%;">
              </ng-template>

              <ng-template #showNoImage>
                <i class="pi pi-user mr-2" style="font-size: 100px;">
                </i>
              </ng-template>

            </div>
            <div class="field">
              <div class="field">
                <label style="font-size: 28px;"><strong>{{ customerVehicleDetailUIDTO.customerVehicle.customer.firstName
                    + ' ' + customerVehicleDetailUIDTO.customerVehicle.customer.lastName }}</strong></label>
              </div>
              <div class="field">
                <label>{{ 'label_created_date_CustomerVehicleDetail' | translate }} {{ customerVehicleDetailUIDTO.customerVehicle.customer.createdDate | date:'dd/MM/yyyy HH:mm:ss' }}</label>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="customerVehicleDetailUIDTO.customerVehicle" class="surface-section px-4 py-4 md:px-6 lg:px-8">

          <div class="field" style="display: inline-block;">
            <label><strong>{{ 'label_description_CustomerVehicleDetail' | translate }}</strong></label>
            <div style="padding-top: 10px;">
              {{customerVehicleDetailUIDTO.customerVehicle.description}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  
  <div class="col-4">
    <form #customerVehicleDetailForm="ngForm">
      <div class="text-left p-3 border-round-sm h-full font-bold">
        <p *ngIf="customerVehicleDetailUIDTO.customerVehicle">
          {{'currency_Generic' | translate}}
          {{customerVehicleDetailUIDTO.customerVehicle.dailyRate | number:'1.2-2'}} / 
          {{'day_HomeSearchCarsDetail' | translate}}
        </p>
        <p *ngIf="customerVehicleDetailUIDTO.customerVehicle" style="text-decoration: underline;">
          {{'currency_Generic' | translate}} 
          {{rateUtilsService.calculateTotalRate(
            customerVehicleDetailUIDTO.dateInit,
            customerVehicleDetailUIDTO.dateEnd, 
            customerVehicleDetailUIDTO.customerVehicle.dailyRate) | number:'1.2-2' }} / 
          {{'excluding_taxes_and_fees_CustomerVehicleDetail' | translate}}
        </p>

        <div style="width: 100%;">
          <hr style="border: none; height: 2px; background-color: #6610f2;">
        </div>

        <div class="field" style="display: inline-block;">
          <label for="dateInit">
            <strong>
              {{'date_init_CustomerVehicleDetail' | translate}}
            </strong>
          </label>
          <div>
            <p-calendar class="p-inputtext-lg" 
              [(ngModel)]="customerVehicleDetailUIDTO.dateInit"
              name="dateInit"
              [showIcon]="true"
              [minDate]="customerVehicleDetailUIDTO.today" 
              [dateFormat]="customerVehicleDetailUIDTO.dateFormat"
              (ngModelChange)="loadHoursInit()">
            </p-calendar>
          </div>
        </div>

        <div class="field" style="display: inline-block;">
          <div style="padding-top: 22px; padding-left: 10px;">
            <p-dropdown class="p-inputtext-lg" 
              [options]="customerVehicleDetailUIDTO.hoursInit"
              [(ngModel)]="customerVehicleDetailUIDTO.selectedHourInit"
              name="selectedHourInit">
            </p-dropdown>
          </div>
        </div>

        <div class="field" style="display: inline-block;">
          <label for="dateEnd">
            <strong>
              {{'date_end_CustomerVehicleDetail' | translate}}
            </strong>
          </label>
          <div>
            <p-calendar class="p-inputtext-lg" 
              [(ngModel)]="customerVehicleDetailUIDTO.dateEnd" 
              name="dateEnd"
              [showIcon]="true"
              [minDate]="customerVehicleDetailUIDTO.today" 
              [dateFormat]="customerVehicleDetailUIDTO.dateFormat"
              (ngModelChange)="ngModelChangeDateEnd()">
            </p-calendar>
          </div>
        </div>

        <div class="field" style="display: inline-block;">
          <div style="padding-top: 22px; padding-left: 10px;">
            <p-dropdown class="p-inputtext-lg" 
              [options]="customerVehicleDetailUIDTO.hours"
              [(ngModel)]="customerVehicleDetailUIDTO.selectedHourEnd"
              name="selectedHourEnd"></p-dropdown>
          </div>
        </div>

        <div style="width: 100%;">
          <hr style="border: none; height: 2px; background-color: #6610f2;">
        </div>

        <label style="padding-top: 10px;">
          <strong>
            {{'pickup_and_return_location_CustomerVehicleDetail' | translate}}
          </strong>
        </label>

        <div class="field" style="display: flex; flex-direction: column; padding-top: 10px;">
          <p-dropdown class="p-inputtext-lg" 
            [options]="customerVehicleDetailUIDTO.listCustomerVehicleAddressVehicle"
            [(ngModel)]="customerVehicleDetailUIDTO.selectedCustomerVehicleAddressVehicle"
            name="customerVehicleAddressVehicle"
            optionLabel="address.streetAddress" 
            [showClear]="true" 
            placeholder="{{'placeholder_customer_vehicle_address_vehicle_CustomerVehicleDetail' | translate}}"
            [style]="{'width': '100%'}">
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2"
                *ngIf="customerVehicleDetailUIDTO.selectedCustomerVehicleAddressVehicle">
                <div>{{ customerVehicleDetailUIDTO.selectedCustomerVehicleAddressVehicle.address.streetAddress }}</div>
              </div>
            </ng-template>
            <ng-template let-cva pTemplate="item">
              <div class="address-box">{{ cva.address.streetAddress + ', ' + cva.address.city.cityName + ', ' +
                cva.address.state.stateName + ', ' + cva.address.country.countryName}}</div>
              <br>
              <label>{{'item_label_customer_vehicle_address_vehicle_CustomerVehicleDetail' | translate}}</label>
            </ng-template>
          </p-dropdown>
        </div>

        <div style="width: 100%;">
          <hr style="border: none; height: 2px; background-color: #6610f2;">
        </div>

        <label style="padding-top: 10px;">
          <strong>
            {{'pickup_and_dropoff_location_CustomerVehicleDetail' | translate}}
          </strong>
        </label>

        <div
          *ngIf="customerVehicleDetailUIDTO.customerVehicle != null && customerVehicleDetailUIDTO.customerVehicle.deliverToAddress"
          class="field" style="display: flex; flex-direction: column; padding-top: 10px;">
          <p-dropdown class="p-inputtext-lg" 
            [options]="customerVehicleDetailUIDTO.listCustomerAddressDelivery"
            [(ngModel)]="customerVehicleDetailUIDTO.selectedCustomerAddressDelivery" 
            optionLabel="address.streetAddress"
            name="customerAddressDelivery"
            [showClear]="true" 
            placeholder="{{'placeholder_customer_vehicle_address_delivery_CustomerVehicleDetail' | translate}}" 
            [style]="{'width': '100%'}">
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="customerVehicleDetailUIDTO.selectedCustomerAddressDelivery">
                <div>{{ customerVehicleDetailUIDTO.selectedCustomerAddressDelivery.address.streetAddress }}</div>
              </div>
            </ng-template>
            <ng-template let-cva pTemplate="item">
              <div class="address-box">{{ cva.address.streetAddress + ', ' + cva.address.city.cityName + ', ' +
                cva.address.state.stateName + ', ' + cva.address.country.countryName}}</div>
              <br>
              <label>{{'item_label_customer_vehicle_address_delivery_CustomerVehicleDetail' | translate}}</label>
            </ng-template>
          </p-dropdown>
        </div>

        <div
          *ngIf="customerVehicleDetailUIDTO.customerVehicle != null && customerVehicleDetailUIDTO.customerVehicle.deliverToAddress"
          style="width: 100%;">
          <p-button label="{{'button_Address_CustomerVehicleDetail' | translate}}" 
            (onClick)="newAddressDeliveryRegisterDynamicDialog()"
            [style]="{ 'width.px': 360 }">
          </p-button>
        </div>

        <div
          *ngIf="customerVehicleDetailUIDTO.customerVehicle != null && customerVehicleDetailUIDTO.customerVehicle.pickUpAtAddress"
          class="field" style="display: flex; flex-direction: column; padding-top: 10px;">
          <p-dropdown class="p-inputtext-lg" [options]="customerVehicleDetailUIDTO.listCustomerAddressPickUp"
            [(ngModel)]="customerVehicleDetailUIDTO.selectedCustomerAddressPickUp" 
            optionLabel="address.streetAddress"
            name="customerAddressPickUp"
            [showClear]="true" 
            placeholder="{{'placeholder_customer_vehicle_address_pickup_CustomerVehicleDetail' | translate}}" 
            [style]="{'width': '100%'}">
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="customerVehicleDetailUIDTO.selectedCustomerAddressPickUp">
                <div>{{ customerVehicleDetailUIDTO.selectedCustomerAddressPickUp.address.streetAddress }}</div>
              </div>
            </ng-template>
            <ng-template let-cva pTemplate="item">
              <div class="address-box">{{ cva.address.streetAddress + ', ' + cva.address.city.cityName + ', ' +
                cva.address.state.stateName + ', ' + cva.address.country.countryName}}</div>
              <br>
              <label>{{'item_label_customer_vehicle_address_pickup_CustomerVehicleDetail' | translate}}</label>
            </ng-template>
          </p-dropdown>
        </div>

        <div
          *ngIf="customerVehicleDetailUIDTO.customerVehicle != null && customerVehicleDetailUIDTO.customerVehicle.pickUpAtAddress"
          style="width: 100%;">
          <p-button label="{{'button_Address_CustomerVehicleDetail' | translate}}" 
            (onClick)="newAddressPickUpRegisterDynamicDialog()"
            [style]="{ 'width.px': 360 }">
          </p-button>
        </div>

        <div style="width: 100%;">
          <hr style="border: none; height: 2px; background-color: #6610f2;">
        </div>

        <div style="width: 100%;">
          <p-button label="{{'label_continue_CustomerVehicleDetail' | translate}}" (onClick)="onClickContinue()" [style]="{ 'width.px': 360 }"></p-button>
        </div>

        <div style="width: 100%;">
          <hr style="border: none; height: 2px; background-color: #6610f2;">
        </div>

        <div class="field" style="display: flex; align-items: center;">
          <i class="pi pi-thumbs-up mr-2"></i>
          <div style="display: flex; flex-direction: column;">
            <label style="font-size: 20px;"><strong>{{'label_free_cancellation_CustomerVehicleDetail' | translate}}</strong></label>
            <label style="font-style: normal; font-weight: normal;">
              {{'label_full_refund_before_CustomerVehicleDetail' | translate}}
              {{customerVehicleDetailUIDTO.dateCancelFree | date:'dd/MM/yyyy'}}, {{'label_to_the_CustomerVehicleDetail' | translate}}
              {{customerVehicleDetailUIDTO.selectedHourInit}}</label>
          </div>
        </div>

        <div style="width: 100%;">
          <hr style="border: none; height: 2px; background-color: #6610f2;">
        </div>

        <label style="padding-top: 10px; font-style: normal; font-weight: normal; font-size: 20px;">
          <strong>
            {{'label_mileage_information_CustomerVehicleDetail' | translate}}
          </strong>
        </label>

        <div
          *ngIf="customerVehicleDetailUIDTO.customerVehicle != null && customerVehicleDetailUIDTO.customerVehicle.unlimitedMileage"
          style="width: 100%;">
          <label style="font-style: normal; font-weight: normal; font-size: 20px;">{{'label_unlimited_mileage_CustomerVehicleDetail' | translate}}</label>
        </div>

        <div
          *ngIf="customerVehicleDetailUIDTO.customerVehicle != null && customerVehicleDetailUIDTO.customerVehicle.limitedMileage"
          style="width: 100%;">
          <div class="field">
            <label style="padding-top: 10px; font-style: normal; font-weight: normal; font-size: 20px;">
              {{'label_limited_mileage_included_CustomerVehicleDetail' | translate}}
              {{ customerVehicleDetailUIDTO.customerVehicle.limitedMileageIncluded }}
            </label>
          </div>
          <div class="field">
            <label style="font-style: normal; font-weight: normal; font-size: 20px;">
              {{'label_limited_mileage_value_CustomerVehicleDetail' | translate}} 
              {{customerVehicleDetailUIDTO.customerVehicle.limitedMileageValue | number:'1.2-2' }}</label>
          </div>
        </div>

        <div style="width: 100%;">
          <hr style="border: none; height: 2px; background-color: #6610f2;">
        </div>

        <label
          style="padding-top: 10px; font-style: normal; font-weight: normal; font-size: 20px;"><strong>{{'label_convenience_CustomerVehicleDetail' | translate}}</strong></label>

        <div
          *ngIf="customerVehicleDetailUIDTO.customerVehicle != null && customerVehicleDetailUIDTO.customerVehicle.deliverToAddress"
          style="width: 100%;">
          <div class="field">
            <label style="padding-top: 10px; font-style: normal; font-weight: normal; font-size: 20px;">
              {{'label_delivery_to_ddress_CustomerVehicleDetail' | translate}}
            </label>
          </div>
          <div class="field">
            <label style="font-style: normal; font-weight: normal; font-size: 20px;">
              {{'label_mileage_fee_delivery_CustomerVehicleDetail' | translate}} 
              {{'currency_Generic' | translate}} 
              {{ customerVehicleDetailUIDTO.customerVehicle.mileageFeeDelivery | number:'1.2-2' }}
            </label>
          </div>
        </div>

        <div
          *ngIf="customerVehicleDetailUIDTO.customerVehicle != null && customerVehicleDetailUIDTO.customerVehicle.pickUpAtAddress"
          style="width: 100%;">
          <div class="field">
            <label style="padding-top: 10px; font-style: normal; font-weight: normal; font-size: 20px;">
              {{'label_pickup_at_address_CustomerVehicleDetail' | translate}}
            </label>
          </div>
          <div class="field">
            <label style="font-style: normal; font-weight: normal; font-size: 20px;">
              {{'label_mileage_fee_pickups_CustomerVehicleDetail' | translate}}
              {{'currency_Generic' | translate}} 
              {{ customerVehicleDetailUIDTO.customerVehicle.mileageFeePickUp | number:'1.2-2' }}
            </label>
          </div>
        </div>

      </div>
    </form>
  </div>

</div>

<div class="block-content">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
      <div class="col-12 lg:col-4">
        <div class="font-medium text-xl text-900 mb-3">{{'div_share_your_experience_CustomerVehicleDetail' | translate}}</div>
        <p class="text-600 p-0 mt-0 mb-3 line-height-3">{{'p_your_feedback_is_valuable_CustomerVehicleDetail' | translate}}</p>
      </div>

      <div class="col-12 lg:col-4 flex align-items-start justify-content-center py-5 lg:py-0">
        <div>
          <span
            *ngIf="customerVehicleDetailUIDTO.customersVehiclesReviews != null && customerVehicleDetailUIDTO.customersVehiclesReviews.length > 0"
            class="text-5xl text-900 font-bold mr-2">{{ customerVehicleDetailUIDTO.customersVehiclesReviews.length
            }}</span>
          <span class="text-5xl text-600">{{'span_reviews_CustomerVehicleDetail' | translate}}</span>
          <div class="mt-3 text-center">
            <i *ngFor="let star of [1, 2, 3, 4, 5]" class="pi text-2xl mr-1" [ngClass]="{
                'pi-star-fill text-yellow-500': star <= getAverageRating(),
                'pi-star text-300': star > getAverageRating()
              }"></i>
          </div>
          <div class="text-900 text-center mt-3">
            {{'div_average_rating_CustomerVehicleDetail' | translate}} {{ getAverageRating() | number: '1.1-1' }}
          </div>
        </div>
      </div>

      <div class="col-12 lg:col-4">
        <ul class="list-none p-0 m-0">
          <li *ngFor="let percentage of customerVehicleDetailUIDTO.percentages; let i = index" class="flex align-items-center mb-2">
            <span class="text-900 font-medium mr-1 w-1rem">{{ i + 1 }}</span>
            <i *ngIf="percentage > 0" class="pi pi-star-fill text-yellow-500 mr-2"></i>
            <i *ngIf="percentage == 0" class="pi pi-star-fill text-500 mr-2"></i>
            <div class="border-round overflow-hidden flex-auto surface-300" style="height: 7px;">
              <div class="h-full bg-yellow-500" [style.width.%]="percentage"></div>
            </div>
            <span class="text-500 font-medium ml-2">
              {{ handlePercentage(percentage) }}
            </span>
          </li>
        </ul>
      </div>

    </div>
    <div class="mt-5">
      <ul class="list-none m-0 p-0">
        <li class="py-5 border-top-1 surface-border"
          *ngFor="let customerVehicleReview of customerVehicleDetailUIDTO.customersVehiclesReviews">
          <div class="flex align-items-center justify-content-between mb-3">
            <div class="flex align-items-center">

              <ng-container
                *ngIf="customerVehicleReview.user != null && customerVehicleReview.dataURI != null; else showDefaultImage">
                <img [src]="customerVehicleReview.dataURI" class="mr-3 lg:mr-0"
                  style="width: 80px; height: 80px; border-radius: 50%;">
              </ng-container>

              <ng-template #showDefaultImage>
                <img
                  *ngIf="customerVehicleReview.user != null && customerVehicleReview.dataURI == null && customerVehicleReview.user.imageURL != null; else showNoImage"
                  [src]="customerVehicleReview.user.imageURL" class="mr-3 lg:mr-0"
                  style="width: 80px; height: 80px; border-radius: 50%;">
              </ng-template>

              <ng-template #showNoImage>
                <div class="mr-3 lg:mr-0"
                  style="width: 80px; height: 80px; border-radius: 50%; background-color: white; position: relative;">
                  <span
                    style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: black; font-weight: bold; font-size: 12px; text-align: center;">
                    {{'span_no_image_Home' | translate}}
                  </span>
                </div>
              </ng-template>

              <div class="flex flex-column" style="padding-left: 20px;"><span
                  class="text-900 font-medium mb-1">{{customerVehicleReview.customer.firstName + ' ' +
                  customerVehicleReview.customer.lastName}}</span>
                <span class="text-500 font-medium text-sm">{{customerVehicleReview.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
              </div>
            </div>

            <div class="flex align-items-center">
              <ng-container *ngFor="let star of getFilledStarsArray(customerVehicleReview.rating)">
                <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
              </ng-container>
              <ng-container *ngFor="let star of getEmptyStarsArray(customerVehicleReview.rating)">
                <i class="pi pi-star mr-1"></i>
              </ng-container>
              <span class="font-medium">{{ customerVehicleReview.rating }}</span>
            </div>

          </div>
          <p class="text-600 p-0 m-0 line-height-3">{{customerVehicleReview.review}}</p>

          <button pbutton="" pripple="" icon="pi pi-exclamation-circle" label="Reportar"
            class="p-element p-ripple p-button-text p-button p-component"><span
              class="p-button-icon p-button-icon-left pi pi-exclamation-circle" aria-hidden="true"></span><span
              class="p-button-label">{{ 'span_button_label_report_Generic' | translate }}</span><span class="p-ink"
              style="height: 117px; width: 117px; top: -36.3594px; left: -0.03125px;"></span></button>

        </li>
      </ul>
    </div>
  </div>
</div>