<div class="block-content">
  <div class="lg:px-8 md:px-6 px-3 py-8">

    <div style="border: 2px #6610f2 solid; padding: 8px; width: 300px; margin: auto;">
      <label class="font-bold">Legenda</label>
      <div style="display: flex; align-items: center; margin-top: 8px;">
        <div style="width: 20px; height: 20px; background-color: yellow; margin-right: 8px;"></div>
        <label>Verificação Em Andamento</label>
      </div>
      <div style="display: flex; align-items: center; margin-top: 8px;">
        <div style="width: 20px; height: 20px; background-color: blue; margin-right: 8px;"></div>
        <label>Documento Já Verificado</label>
      </div>
    </div>

    <br>

    <div style="overflow-y: auto;">
    <div class="flex flex-column lg:flex-row surface-card shadow-2 border-round">
      <div *ngFor="let step of customerVehicleRegisterUIDTO.customervehicleRegisterSteps; let i = index" class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none" 
           [ngClass]="{ 'border-blue-500': i + 1 <= customerVehicleRegisterUIDTO.currentStepIndex, 'border-transparent opacity-50': i + 1 > customerVehicleRegisterUIDTO.currentStepIndex }">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl" [ngClass]="step.icon + ' text-900 mr-3'"></i>
          <div class="flex flex-column">
            <span class="text-900 font-medium text-xl mb-1 line-height-1">{{ step.label }}</span>
            <span class="text-600 line-height-3">{{ step.description }}</span>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>

<div class="md:col-12 mb-2">
  <div class="card no-margin bordered-card">

    <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex == 0">
      <app-customer-vehicle-register-step1 
        (validateStep1)="handleIsValidateStep1($event)">
      </app-customer-vehicle-register-step1>
    </div>

    <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex == 1">
      <app-customer-vehicle-register-step2
        (validateStep2)="handleIsValidateStep2($event)">
      </app-customer-vehicle-register-step2>
    </div>

    <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex == 2">
      <app-customer-vehicle-register-step3
        (validateStep3)="handleIsValidateStep3($event)">
      </app-customer-vehicle-register-step3>
    </div>

    <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex == 3">
      <app-customer-vehicle-register-step4
        (validateStep4)="handleIsValidateStep4($event)">
      </app-customer-vehicle-register-step4>
    </div>

    <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex == 4">
      <app-customer-vehicle-register-step5
        (validateStep5)="handleIsValidateStep5($event)">
      </app-customer-vehicle-register-step5>
    </div>

    <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex == 5">
      <app-customer-vehicle-register-step6
        (validateStep6)="handleIsValidateStep6($event)">
      </app-customer-vehicle-register-step6>
    </div>

    <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex == 6">
      <app-customer-vehicle-register-step7
        (validateStep7)="handleIsValidateStep7($event)">
      </app-customer-vehicle-register-step7>
    </div>

  </div>
</div>

<div class="flex -mt-3 justify-content-between align-items-center">

  <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex > 1"
    class="col-1 md:col-1 field">
    <button 
      pbutton="" pripple=""
      class="p-element p-ripple m-0 p-button p-component"
      (click)="previousStep()">
      <span
        class="p-button-icon p-button-icon-left pi pi-arrow-circle-left" aria-hidden="true">
      </span>
      <span
        class="p-button-label">{{'span_button_label_to_go_back_Generic' | translate}}
      </span>
      <span class="p-ink"></span>
    </button>
  </div>

  <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex >= 0 && customerVehicleRegisterUIDTO.currentStepIndex < customerVehicleRegisterUIDTO.customervehicleRegisterSteps.length - 1"
    class="col-1 md:col-1 field" style="margin-left: auto;">
    <button 
      pbutton="" pripple=""
      class="p-element p-ripple m-0 p-button p-component" (click)="nextStep()"
      [disabled]="!validateCurrentStep()">
      <span
        class="p-button-icon p-button-icon-left pi pi-arrow-circle-right" aria-hidden="true">
      </span>
      <span
        class="p-button-label">{{'span_button_label_go_Generic' | translate}}
      </span>
      <span class="p-ink"></span>
    </button>
  </div>

  <div *ngIf="customerVehicleRegisterUIDTO.currentStepIndex == customerVehicleRegisterUIDTO.customervehicleRegisterSteps.length - 1" 
    class="col-1 md:col-1 field" style="margin-left: auto;">
    <button 
      pbutton="" pripple=""
      class="p-element p-ripple m-0 p-button p-component" (click)="confirmDialogSave()"
      [disabled]="!validateCurrentStep()">
      <span
        class="p-button-icon p-button-icon-left pi pi-save" aria-hidden="true">
      </span>
      <span
        class="p-button-label">{{'span_button_label_save_Generic' | translate}}
      </span>
      <span class="p-ink"></span>
    </button>
  </div>

  <p-confirmDialog #cd [style]="{'width': '500px', 'height': '300px'}">
    <ng-template pTemplate="headless" let-message>
      <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
        <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
        <p>{{ message.message }}</p>
      </div>
    </ng-template>
  </p-confirmDialog>

</div>