<div class="block-content">
  <div class="lg:px-8 md:px-6 px-3 py-8">

    <div style="border: 2px #6610f2 solid; padding: 8px; width: 300px; margin: auto;">
      <label class="font-bold">Legenda</label>
      <div style="display: flex; align-items: center; margin-top: 8px;">
        <div style="width: 20px; height: 20px; background-color: yellow; margin-right: 8px;"></div>
        <label>Verificação Em Andamento</label>
      </div>
      <div style="display: flex; align-items: center; margin-top: 8px;">
        <div style="width: 20px; height: 20px; background-color: blue; margin-right: 8px;"></div>
        <label>Documento Já Verificado</label>
      </div>
    </div>

    <br>

    <div class="flex flex-column lg:flex-row surface-card shadow-2 border-round">

      <!-- Email -->
      <div
        *ngIf="customerValidationUIDTO.customer == null || customerValidationUIDTO.customer.emailValidated == null || customerValidationUIDTO.customer.emailValidated == false"
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent opacity-50">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-at text-900 mr-3"></i>
          <div class="flex flex-column"><span class="text-900 font-medium text-xl mb-1 line-height-1">Email</span><span
              class="text-600 line-height-3">Verificar o email</span></div>
        </div>
      </div>

      <div *ngIf="customerValidationUIDTO.customer != null && customerValidationUIDTO.customer.emailValidated == true"
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-blue-500">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-at text-900 mr-3"></i>
          <div class="flex flex-column"><span class="text-900 font-medium text-xl mb-1 line-height-1">Email</span><span
              class="text-600 line-height-3">Verificar o email</span></div>
        </div>
      </div>

      <!-- Celular -->
      <div *ngIf="customerValidationUIDTO.customer == null || customerValidationUIDTO.customer.phoneValidated == null || customerValidationUIDTO.customer.phoneValidated == false" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent opacity-50">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-phone text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">Celular</span><span
              class="text-600 line-height-3">Número do Celular</span></div>
        </div>
      </div>

      <div *ngIf="customerValidationUIDTO.customer != null && customerValidationUIDTO.customer.phoneValidated == true" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-blue-500">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-phone text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">Celular</span><span
              class="text-600 line-height-3">Número do Celular</span></div>
        </div>
      </div>

      <!-- Carteira de identidade -->
      <div *ngIf="customerValidationUIDTO.customer == null || customerValidationUIDTO.customer.identityNumberValidated == null || customerValidationUIDTO.customer.identityNumberValidated == false && customerValidationUIDTO.fileApprovedIdentityNumber == null" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent opacity-50">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-id-card text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">Identidade</span><span
              class="text-600 line-height-3">Carteira de identidade</span></div>
        </div>
      </div>

      <div (click)="toggleApprovalIdentityNumber()" *ngIf="customerValidationUIDTO.customer.identityNumberValidated == false && customerValidationUIDTO.fileApprovedIdentityNumber != null && customerValidationUIDTO.fileApprovedIdentityNumber.approvedBy == null" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-yellow-500">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-id-card text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">Identidade</span><span
              class="text-600 line-height-3">Carteira de identidade</span></div>
        </div>
      </div>

      <div *ngIf="customerValidationUIDTO.customer != null && customerValidationUIDTO.customer.identityNumberValidated == true" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-blue-500">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-id-card text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">Identidade</span><span
              class="text-600 line-height-3">Carteira de identidade</span></div>
        </div>
      </div>

      <!-- Carteira de motorista -->
      <div *ngIf="customerValidationUIDTO.customer == null || customerValidationUIDTO.customer.driverLicenseValidated == null || customerValidationUIDTO.customer.driverLicenseValidated == false && customerValidationUIDTO.fileApprovedDriverLicense == null" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent opacity-50">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-car text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">CNH</span><span
              class="text-600 line-height-3">Carteira de motorista</span></div>
        </div>
      </div>

      <div (click)="toggleApprovalMessageDriverLicense()" *ngIf="customerValidationUIDTO.customer.driverLicenseValidated == false && customerValidationUIDTO.fileApprovedDriverLicense != null && customerValidationUIDTO.fileApprovedDriverLicense.approvedBy == null" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-yellow-500">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-car text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">CNH</span><span
              class="text-600 line-height-3">Carteira de motorista</span></div>
        </div>
      </div>

      <div *ngIf="customerValidationUIDTO.customer != null && customerValidationUIDTO.customer.driverLicenseValidated == true" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-blue-500">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-car text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">CNH</span><span
              class="text-600 line-height-3">Carteira de motorista</span></div>
        </div>
      </div>

      <!-- Foto do perfil -->
      <div *ngIf="customerValidationUIDTO.user == null || customerValidationUIDTO.user.photoValidated == null || customerValidationUIDTO.user.photoValidated == false && customerValidationUIDTO.fileApprovedProfilePicture == null" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent opacity-50">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-camera text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">Foto</span><span
              class="text-600 line-height-3">Foto do perfil</span></div>
        </div>
      </div>

      <div (click)="toggleApprovalMessageProfilePicture()" *ngIf="customerValidationUIDTO.user == null || customerValidationUIDTO.user.photoValidated == null || customerValidationUIDTO.user.photoValidated == false && customerValidationUIDTO.fileApprovedProfilePicture != null && customerValidationUIDTO.fileApprovedProfilePicture.approvedBy == null" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-yellow-500">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-camera text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">Foto</span><span
              class="text-600 line-height-3">Foto do perfil</span></div>
        </div>
      </div>

      <div *ngIf="customerValidationUIDTO.user != null && customerValidationUIDTO.user.photoValidated == true" 
        class="flex-grow-1 border-left-2 lg:border-bottom-2 lg:border-left-none border-blue-500">
        <div class="flex align-items-start p-4 border-bottom-1 lg:border-right-1 lg:border-bottom-none surface-border">
          <i class="text-2xl pi pi-camera text-900 mr-3"></i>
          <div class="flex flex-column"><span
              class="text-900 font-medium text-xl mb-1 line-height-1">Foto</span><span
              class="text-600 line-height-3">Foto do perfil</span></div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="flex align-items-center justify-content-center">

  <!-- Email -->
  <div
    *ngIf="customerValidationUIDTO.customer == null || customerValidationUIDTO.customer.emailValidated == null || customerValidationUIDTO.customer.emailValidated == false"
    class="surface-section px-4 py-2 md:px-6 lg:px-8">

    <form #emailForm="ngForm" (ngSubmit)="clickEmailVerificationCode()">

      <div class="p-fluid p-formgrid grid">

        <div class="col-12 md:col-12 field">
          <label for="email" class="font-medium text-2xl">{{'label_email_CustomerValidation' | translate}}</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-at"></i>
            </span>
            <input type="email" pInputText 
              placeholder="{{'placeholder_email_CustomerValidation' | translate}}"
              [(ngModel)]="customerValidationUIDTO.email" name="email" autocomplete="off" required="true" [maxlength]="100"
              [disabled]="customerValidationUIDTO.sendEmailVerificationCode"/>
          </div>
        </div>

        <div class="col-12 md:col-12 field" style="text-align: center;">
          <button type="submit" class="p-element p-button p-component mr-3 md:w-14rem"
            pButton
            [disabled]="!emailForm.valid">
            <span class="p-button-label">
              {{'span_button_label_send_code_Generic' | translate}}
            </span>
            <i class="pi pi-send"></i>
          </button>
        </div>

      </div>

    </form>

    <div *ngIf="customerValidationUIDTO.sendEmailVerificationCode == true" class="field mb-4 col-12 md:col-12">
      <form #emailVerificationCodeForm="ngForm" (ngSubmit)="clickEmailValidateCode()">

        <div class="p-fluid p-formgrid grid">

          <div class="col-12 md:col-12 field">
            <label for="emailVerificationCode" class="font-medium text-2xl">{{'label_email_verification_code_CustomerValidation' | translate}}</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-question"></i>
              </span>
              <input type="text" pInputText 
                placeholder="{{'placeholder_email_verification_code_CustomerValidation' | translate}}"
                [(ngModel)]="customerValidationUIDTO.emailVerificationCode" name="email_verification_code" autocomplete="off" required="true" [minlength]="6" [maxlength]="6"/>
            </div>
          </div>

        </div>

        <div class="col-12 md:col-12 field" style="text-align: center;">
          <button type="submit" class="p-element p-button p-component mr-3 md:w-14rem"
            pButton
            [disabled]="!emailVerificationCodeForm.valid">
            <span class="p-button-label">
              {{'span_button_label_validate_code_Generic' | translate}}
            </span>
            <i class="pi pi-ticket"></i>
          </button>
        </div>

      </form>
    </div>

  </div>

  <!-- Celular -->
  <div
    *ngIf="customerValidationUIDTO.customer != null && 
    customerValidationUIDTO.customer.phoneValidated == false &&
    customerValidationUIDTO.customer.emailValidated == true"
    class="surface-section px-4 py-2 md:px-6 lg:px-8">

    <form #phoneForm="ngForm">

      <div class="p-fluid p-formgrid grid">

        <div class="col-6 md:col-6 field">
          <label for="ddi" class="font-medium text-2xl">DDI</label>

          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <img src="assets/images/icon/ddi.png" alt="Image" width="20px"/>
            </span>
            <input class="p-inputtext p-component p-element"
                    type="text"
                    name="ddi"
                    [(ngModel)]="customerValidationUIDTO.ddi"
                    pInputText placeholder="Informe o DDI"
                    pTooltip="Insira o DDI do número do celular para verificação, colocar o DDI com o + por exemplo se tiver no Brasil +55" tooltipPosition="top"
                    [maxLength]="4"
                    required="true"
                    [disabled]="customerValidationUIDTO.sendPhoneVerificationCode">
          </div>
        </div>

        <div class="col-6 md:col-6 field">

          <label for="phone" class="font-medium text-2xl">Celular</label>

          <div class="p-inputgroup">
  
            <span class="p-inputgroup-addon">
              <i class="pi pi-phone"></i>
            </span>
            <input class="p-inputtext p-component p-element" 
              [(ngModel)]="customerValidationUIDTO.phone"
              type="text" 
              name="phone" 
              pInputText placeholder="Informe o celular para verificação" 
              pTooltip="Insira o número do celular para verificação, colocar o número com o DDD + Celular, por exemplo: 11999999999" tooltipPosition="top"
              maxlength="11"
              required="true"
              [disabled]="customerValidationUIDTO.sendPhoneVerificationCode">
  
          </div>
        </div>

      </div>

      <div class="col-12 md:col-12 field" style="text-align: center;">

        <div class="col-12 md:col-12 field">
          <button type="button" class="p-element p-button p-button-info p-component mr-3 md:w-14rem"
            pButton
            [disabled]="!phoneForm.valid"
            (click)="clickPhoneVerificationCodeSMS()">
            <span class="p-button-label">
              {{'span_button_label_send_sms_code_Generic' | translate}}
            </span>
            <i class="pi pi-phone"></i>
          </button>
        </div>

        <div class="col-12 md:col-12 field">
          <button type="button" class="p-element p-button p-button-success p-component mr-3 md:w-18rem"
            pButton
            [disabled]="!phoneForm.valid"
            (click)="clickPhoneVerificationCodeWhatsApp()">
            <span class="p-button-label">
              {{'span_button_label_send_whatsapp_code_Generic' | translate}}
            </span>
            <i class="pi pi-whatsapp"></i>
          </button>
        </div>

      </div>

    </form>

    <div *ngIf="customerValidationUIDTO.sendPhoneVerificationCode == true" class="field mb-4 col-12 md:col-12">
      <form #phoneVerificationCodeForm="ngForm">

        <div class="p-fluid p-formgrid grid">

          <div class="col-12 md:col-12 field">

            <label for="phoneVerificationCode" class="font-medium text-2xl">Informe o código enviado no celular</label>

            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
              </span>
              <input class="p-inputtext p-component p-element" 
                type="text" 
                name="phoneVerificationCode" 
                [(ngModel)]="customerValidationUIDTO.phoneVerificationCode"
                pInputText placeholder="Informe o código para verificação" 
                required="true"
                minlength="6"
                maxlength="6">
            </div>
          
          </div>

          <div class="col-12 md:col-12 field" style="text-align: center;">

            <button type="button" class="p-element p-button p-component mr-3 md:w-12rem"
              pButton
              [disabled]="!phoneVerificationCodeForm.valid"
              (click)="clickPhoneValidateCode()">
              <span class="p-button-label">
                {{'span_button_label_validate_code_Generic' | translate}}
              </span>
              <i class="pi pi-ticket"></i>
            </button>

          </div>

        </div>

      </form>
    
    </div>
  </div>

  <!-- Carteira de identidade -->
  <div 
    *ngIf="customerValidationUIDTO.customer != null && 
    customerValidationUIDTO.customer.customerId != null && 
    customerValidationUIDTO.customer.identityNumberFileId == null && 
    customerValidationUIDTO.customer.phoneValidated == true"
    class="surface-section px-4 py-2 md:px-6 lg:px-8">

    <form #identityNumberForm="ngForm" (ngSubmit)="clickIdentityNumberSendInformation()">

      <div class="p-fluid p-formgrid grid">

        <div class="col-6 md:col-6 field">
          <label for="firstName" class="formTitle">{{'label_first_name_CustomerValidation' | translate}}</label>
          <input type="text" pInputText 
            placeholder="{{'placeholder_first_name_CustomerValidation' | translate}}"
            [(ngModel)]="customerValidationUIDTO.customer.firstName" name="firstName" autocomplete="off" required="true" [maxlength]="100"/>
        </div>

        <div class="col-6 md:col-6 field">
          <label for="lastName" class="formTitle">{{'label_last_name_CustomerValidation' | translate}}</label>
          <input type="text" pInputText 
            placeholder="{{'placeholder_last_name_CustomerValidation' | translate}}"
            [(ngModel)]="customerValidationUIDTO.customer.lastName" name="lastName" autocomplete="off" required="true" [maxlength]="100"/>
        </div>

        <div class="col-6 md:col-6 field">
          <label for="cpf" class="formTitle">{{'label_cpf_CustomerValidation' | translate}}</label>
          <p-inputMask type="text" mask="999.999.999-99"
            placeholder="{{'placeholder_cpf_CustomerValidation' | translate}}"
            [(ngModel)]="customerValidationUIDTO.customer.cpf" name="cpf" autocomplete="off" [required]="true" />
        </div>

        <div class="col-3 md:col-3 field">
          <label for="identityNumber" class="formTitle">{{'label_identity_number_CustomerValidation' | translate}}</label>
          <p-inputMask type="text" mask="99.999.999-9"
            placeholder="{{'placeholder_identity_number_CustomerValidation' | translate}}"
            [(ngModel)]="customerValidationUIDTO.customer.identityNumber" name="identityNumber" autocomplete="off" [required]="true" />
        </div>

        <div class="col-2 md:col-2 field">
          <label for="identityNumberIssuingBody" class="formTitle">{{'label_identity_number_issuing_body_CustomerValidation' | translate}}</label>
          <input type="text" pInputText 
            placeholder="{{'placeholder_identity_number_issuing_body_CustomerValidation' | translate}}"
            [(ngModel)]="customerValidationUIDTO.customer.identityNumberIssuingBody" name="identityNumberIssuingBody" autocomplete="off" required="true" [maxlength]="20"/>
        </div>

        <div class="col-1 md:col-1 field">
          <label for="identityNumberIssuingBodyUF" class="formTitle">{{'label_identity_number_issuing_body_uf_CustomerValidation' | translate}}</label>
          <input type="text" pInputText 
            placeholder="{{'placeholder_identity_number_issuing_body_uf_CustomerValidation' | translate}}"
            [(ngModel)]="customerValidationUIDTO.customer.identityNumberIssuingBodyUF" name="identityNumberIssuingBodyUF" autocomplete="off" required="true" [maxlength]="10"/>
        </div>

        <div class="col-6 md:col-6 field">
          <label for="dateOfBirth" class="formTitle">{{'label_date_of_birth_CustomerValidation' | translate}}</label>
          <p-calendar 
            [(ngModel)]="customerValidationUIDTO.customer.dateOfBirth" 
            dateFormat="dd/mm/yy" autocomplete="off" [required]="true" name="dateOfBirth"
            placeholder="{{'placeholder_date_of_birth_CustomerValidation' | translate}}">
          </p-calendar>
        </div>

      </div>

      <div class="col-12 md:col-12 field" style="text-align: center;">

        <p-fileUpload #fileUploadIdentityNumber name="file" [customUpload]="true" (uploadHandler)="uploadHandlerIdentityNumber($event)" [multiple]="false" accept="image/*" [maxFileSize]="2000000">
          <ng-template pTemplate="content">
            <ul *ngIf="customerValidationUIDTO.uploadedFiles != null && customerValidationUIDTO.uploadedFiles.length">
              <li *ngFor="let file of customerValidationUIDTO.uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>

      </div>

      <div class="col-12 md:col-12 field" style="text-align: center;">
        <label>Obs: Faça o upload da Carteira de identidade para aparecer o botão de enviar informações...</label>
      </div>

      <div *ngIf="customerValidationUIDTO.divButtonIdentityNumber" class="col-12 md:col-12 field" style="text-align: center;">
        <button type="submit" class="p-element p-button p-component mr-3 md:w-14rem"
          pButton
          [disabled]="!identityNumberForm.valid">
          <span class="p-button-label">
            {{'span_button_label_send_information_Generic' | translate}}
          </span>
          <i class="pi pi-send"></i>
        </button>
      </div>

    </form>
    
  </div>

  <div *ngIf="customerValidationUIDTO.showApprovalMessageIdentityNumber" 
    class="surface-section px-4 py-2 md:px-6 lg:px-8">

    <div class="formgrid grid">
      <div class="field col" style="text-align: center;">

        <h1>Aguardando aprovação da carteira de identidade...</h1>
        <label>O processo ainda está em aprovação aguarde até 3 dias úteis.</label>

      </div>
    </div>

  </div>

  <!-- Carteira de motorista -->
  <div 
    *ngIf="customerValidationUIDTO.customer != null && 
    customerValidationUIDTO.customer.customerId != null && 
    customerValidationUIDTO.customer.driverLicenseFileId == null && 
    customerValidationUIDTO.customer.identityNumberFileId != null"
    class="surface-section px-4 py-2 md:px-6 lg:px-8">

    <form #driverLicenseForm="ngForm" (ngSubmit)="clickDriverLicenseSendInformation()">

      <div class="p-fluid p-formgrid grid">

        <div class="col-6 md:col-6 field">
          <label for="driverLicenseRegistrationNumber" class="formTitle">{{'label_driver_license_registration_number_CustomerValidation' | translate}}</label>
          <p-inputMask type="text" mask="99999999999"
            placeholder="{{'placeholder_driver_license_registration_number_CustomerValidation' | translate}}"
            [(ngModel)]="customerValidationUIDTO.customer.driverLicenseRegistrationNumber" name="driverLicenseRegistrationNumber" autocomplete="off" [required]="true" />
        </div>

        <div class="col-6 md:col-6 field">
          <label for="driverLicenseCategory" class="formTitle">{{'label_driver_license_category_CustomerValidation' | translate}}</label>
          <input type="text" pInputText 
            placeholder="{{'placeholder_driver_license_category_CustomerValidation' | translate}}"
            [(ngModel)]="customerValidationUIDTO.customer.driverLicenseCategory" name="driverLicenseCategory" autocomplete="off" required="true" [maxlength]="10"/>
        </div>

        <div class="col-3 md:col-3 field">
          <label for="driverLicenseFirstLicenseDate" class="formTitle">{{'label_driver_license_first_license_date_CustomerValidation' | translate}}</label>
          <p-calendar 
            [(ngModel)]="customerValidationUIDTO.customer.driverLicenseFirstLicenseDate" 
            dateFormat="dd/mm/yy" name="driverLicenseFirstLicenseDate" autocomplete="off" [required]="true"
            placeholder="{{'placeholder_driver_license_first_license_date_CustomerValidation' | translate}}"
            >
          </p-calendar>
        </div>

        <div class="col-3 md:col-3 field">
          <label for="driverLicenseExpirationDate" class="formTitle">{{'label_driver_license_expiration_date_CustomerValidation' | translate}}</label>
          <p-calendar 
            [(ngModel)]="customerValidationUIDTO.customer.driverLicenseExpirationDate" 
            dateFormat="dd/mm/yy" name="driverLicenseExpirationDate" autocomplete="off" [required]="true"
            placeholder="{{'placeholder_driver_license_expiration_date_CustomerValidation' | translate}}"
            >
          </p-calendar>
        </div>

        <div class="col-3 md:col-3 field">
          <label for="driverLicenseIssueDate" class="formTitle">{{'label_driver_license_issue_date_CustomerValidation' | translate}}</label>
          <p-calendar 
            [(ngModel)]="customerValidationUIDTO.customer.driverLicenseIssueDate" 
            dateFormat="dd/mm/yy" name="driverLicenseIssueDate" autocomplete="off" [required]="true"
            placeholder="{{'placeholder_driver_license_issue_date_CustomerValidation' | translate}}"
            >
          </p-calendar>
        </div>

        <div class="col-3 md:col-3 field">
          <label for="driverLicenseIssueUF" class="formTitle">{{'label_driver_license_issue_uf_CustomerValidation' | translate}}</label>
          <input type="text" pInputText 
            placeholder="{{'placeholder_driver_license_issue_uf_CustomerValidation' | translate}}"
            [(ngModel)]="customerValidationUIDTO.customer.driverLicenseIssueUF" name="driverLicenseIssueUF" autocomplete="off" required="true" [maxlength]="10"/>
        </div>

      </div>

      <div class="col-12 md:col-12 field" style="text-align: center;">

        <p-fileUpload #fileUploadDriverLicense name="file" [customUpload]="true" (uploadHandler)="uploadHandlerDriverLicense($event)" [multiple]="false" accept="image/*, application/pdf" [maxFileSize]="2000000">
          <ng-template pTemplate="content">
            <ul *ngIf="customerValidationUIDTO.uploadedFiles != null && customerValidationUIDTO.uploadedFiles.length">
              <li *ngFor="let file of customerValidationUIDTO.uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>

      </div>

      <div class="col-12 md:col-12 field" style="text-align: center;">
        <label>Obs: Faça o upload da Carteira de motorista para aparecer o botão de enviar informações...</label>
      </div>

      <div *ngIf="customerValidationUIDTO.divButtonDriverLicense" class="col-12 md:col-12 field" style="text-align: center;">
        <button type="submit" class="p-element p-button p-component mr-3 md:w-14rem"
          pButton
          [disabled]="!driverLicenseForm.valid">
          <span class="p-button-label">
            {{'span_button_label_send_information_Generic' | translate}}
          </span>
          <i class="pi pi-send"></i>
        </button>
      </div>

    </form>
    
  </div>

  <div *ngIf="customerValidationUIDTO.showApprovalMessageDriverLicense" 
    class="surface-section px-4 py-2 md:px-6 lg:px-8">

    <div class="formgrid grid">
      <div class="field col" style="text-align: center;">

        <h1>Aguardando aprovação da carteira de motorista...</h1>
        <label>O processo ainda está em aprovação aguarde até 3 dias úteis.</label>

      </div>
    </div>

  </div>

  <!-- Foto do perfil -->
  <div
    *ngIf="customerValidationUIDTO.user != null && 
    customerValidationUIDTO.user.photoFileId == null && 
    customerValidationUIDTO.customer != null && 
    customerValidationUIDTO.customer.driverLicenseFileId != null"
    class="surface-section px-4 py-2 md:px-6 lg:px-8">

    <div class="col-12 md:col-12 field" style="text-align: center;">

      <p-fileUpload #fileUploadProfilePicture name="file" [customUpload]="true" (uploadHandler)="uploadHandlerProfilePicture($event)" [multiple]="false" accept="image/*" [maxFileSize]="2000000">
        <ng-template pTemplate="content">
          <ul *ngIf="customerValidationUIDTO.uploadedFiles != null && customerValidationUIDTO.uploadedFiles.length">
            <li *ngFor="let file of customerValidationUIDTO.uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>

    </div>

  </div>

  <div *ngIf="customerValidationUIDTO.showApprovalMessageProfilePicture" 
    class="surface-section px-4 py-2 md:px-6 lg:px-8">

    <div class="formgrid grid">
      <div class="field col" style="text-align: center;">

        <h1>Aguardando aprovação do foto do perfil...</h1>
        <label>O processo ainda está em aprovação aguarde até 3 dias úteis.</label>

      </div>
    </div>

  </div>

</div>